@inherits LayoutComponentBase

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<div class="bb-page" >

    <main class="p-0" style="overflow-y: hidden;">

        <Header />

        <div class="content px-4" style="background-color: var(--main-board-bg); height: 95%;">
            <div class="py-2 h-100" >
                @Body
            </div>
        </div>
    </main>

</div>

@code {
    
}