@inherits LayoutComponentBase

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<Offcanvas @ref="offcanvas" Placement="Placement.Start" Size="OffcanvasSize.Small" ShowCloseButton="false"
    Style="background-color: var(--main-board-bg); border-radius: 10px;">
    <HeaderTemplate >
        <a class="text-light fw-bold fs-4" href="/">ДЕТАЛЬ</a>
    </HeaderTemplate> 
    <BodyTemplate>

    </BodyTemplate>
</Offcanvas>

<div class="bb-page" >

    <main class="p-0" style="overflow-y: hidden;">
        <div class="bb-top-row px-4 d-flex" style="background-color: var(--main-col-bg);">
            <div class="col justify-content-start">
                <Button class="py-0" Color="ButtonColor.Light" Outline="true" @onclick="OpenSidebar" >
                    <Icon Name="IconName.List" />
                </Button>
            </div>
            <div class="col d-flex justify-content-end">
                <Toolbar />
            </div>
        </div>

        <div class="content px-4" style="background-color: var(--main-board-bg); height: 95%;">
            <div class="py-2 h-100" >
                @Body
            </div>
        </div>
    </main>

</div>

@code {
    private Offcanvas? offcanvas;

    private async Task OpenSidebar()
    {
        if (offcanvas is { })
        {
            await offcanvas.ShowAsync();
        }
    }
}