.subtask-card {
    position: relative;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--accent-fill-rest);
    background-color: var(--main-card-bg);
    padding: 10px;
}

.subtask-card.completed {
    background-color: var(--neutral-layer-2);
}

.subtask-card .title {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    align-self: center;
}

.subtask-card.completed .title {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    align-self: center;
    text-decoration: line-through;
    font-style: italic;
}

.subtask-card .image {
    min-width: 32px;
    max-width: 60px;
    align-self: center;
    margin-left: 10px;
    margin-right: 5px;
}

.subtask-card .tools {
    opacity: 0;
    align-self: center;
    transition: opacity 0.4s ease-in-out;
}

.subtask-card:hover .tools {
    opacity: 1;
}

.subtask-card .status-change {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.subtask-card:hover .status-change {
    opacity: 1;
}