@using KolBlazor.Components.Timeline

@inherits KolComponentBase

<div class="d-flex h-100 @Class" style=@Style >
    <KolTimeline Collapsed="!Collapsed" UncollapsedHeight="@(State.Milestones.Count * 36)" 
        ShowTodayLine="true" Class="scrollbar-none py-0" >
        <CascadingValue Value="milestoneTaskFilter" IsFixed="true">
            @foreach (var milestone in State.Milestones.OrderBy(x => x.Deadline))
            {
                <KolTimelineItem @key="milestone.Id" End="milestone.Deadline" Start="State.GetMilestoneStart(milestone)">
                    <TimelineMilestone Milestone="milestone" />
                </KolTimelineItem>
            }
        </CascadingValue>
    </KolTimeline>
</div>