@using Cardmngr.Components.ProjectAggregate.Components
@attribute [Authorize]

@inherits ProjectStateBase
@implements IAsyncDisposable

@if (Initialized)
{
    <CascadingValue Value="this" IsFixed="true" >
        <CascadingValue Value="hubClient" IsFixed="true">
            @ChildContent
            <div class="right-bottom-corner user-select-none">
                <ConnectedUsers></ConnectedUsers>
            </div>
        </CascadingValue>
    </CascadingValue>
}
else
{
    <ProjectProgressIndicator Progress="Progress" />
}
