<div class="d-flex w-100">    
    <div class="d-flex ms-3 align-self-center">
        <Tool IconName="IconName.List" IconSize="IconSize.x5" Text="Проект"
            OnClick="@ShowProjectMenu" />
    </div>
    <MilestoneTimeline Class="ms-4" ></MilestoneTimeline>
</div>
