.project-gantt {
    position: relative; 
    height: 100%;
    --base-task-color: var(--accent-fill-rest);
}

.gantt-toolbar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.work-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.work-item.project {
    height: 1px;
    background-color: var(--accent-fill-rest);
    align-self: self-end;
}

.work-item.project::before,
.work-item.project::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--accent-fill-rest);
    width: 5px;
    height: 5px;
    transform: translateY(-50%);
}

.work-item.project::before {
    left: 0;
}

.work-item.project::after {
    right: 0;
}

.work-item.task {
    background-color: var(--base-task-color);
    border-radius: 4px;
}

.work-item.task.done {
    background-color: var(--success);
}

.work-item.task.deadline {
    background-color: var(--error);
}

.work-item.task.warning {
    background-color: var(--warning);
}

.work-item.task.unknown {
    background: linear-gradient(to right, var(--base-task-color), transparent);
}

.work-item.milestone {
    height: 4px;
    align-self: center;
    background-color: var(--accent-fill-rest);
}

.work-item.milestone .milestone-bg {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed color-mix(in srgb, var(--accent-fill-rest) 65%, transparent 50%);
}

.milestone-right-part,
.item-right-part {
    position: absolute;
    left: calc(100% + 15px);
    font-size: .75rem;
    line-height: 1rem;
    width: max-content;
}

.milestone-right-part {
    display: flex;
    gap: 10px;
}

.work-item.milestone::before,
.work-item.milestone::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--accent-fill-rest);
    transform: translateY(-11%);
}

.work-item.milestone::before {
    left: 0;
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.work-item.milestone::after {
    right: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}