<KolBoard TValue="OnlyofficeTask" CanItemDrag="@(x => x.CanEdit)" Gap="20" >
    <Columns>
        @if (State.Initialized)
        {
            var isFirst = true;
            foreach (var status in State.Model?.Statuses.InLogicalOrder() ?? [])
            {
                @if (!isFirst)
                {
                    <div class="status-column" style="width: 1px;"/>
                }
                <div @key="status" >
                    <KolBoardColumn Width="365" TValue="OnlyofficeTask" CanCollapse="true"
                        OnDropItem="@(async task => await OnChangeTaskStatus(task, status))"
                        Items="GetTasksForStatus(status)">
                        <HeaderTemplate Context="isCollapsed">
                            <TaskStatusHeader IsCollapsed="isCollapsed" TaskStatus="status" />
                            @if (State.TaskFilter.Filters.Any())
                            {
                                <div class="mt-1 d-flex justify-content-center fw-light" style="font-size: small;">
                                    @GetTasksForStatus(status).Count() результатов
                                </div>
                            }
                        </HeaderTemplate>
                    </KolBoardColumn>
                </div>
                isFirst = false;
            }
        }
    </Columns>
    <ItemTemplate Context="task">
        <TaskCard Task="task" />
    </ItemTemplate>
</KolBoard>
