@using Cardmngr.Components.ProjectAggregate.Components

<KolBoard TValue="OnlyofficeTask" >    
    <Columns>
        @{ 
            var isFirst = true;
            foreach (var status in State.Statuses.InLogicalOrder())
            {
                @if (!isFirst)
                {
                    <div class="status-column" style="width: 1px;"></div>
                }
                <StatusColumn CommonHeightByKey="CommonHeightByKey" Status="status" />
                isFirst = false;
            }
        }
    </Columns>
</KolBoard>
