<div class="d-flex">
    <div class="d-flex col-md-1 align-self-center p-0" style="max-width: 22px;">
        <span class="text-vertical-1 user-select-none" style="font-size: small; font-weight: bold;">вехи</span>
    </div>
    <div class="col d-flex flex-column" >
        <MilestoneTimeline ></MilestoneTimeline>
    </div>
    <div class="align-self-center d-flex justify-content-end">
        <Tool IconName="IconName.List" IconSize="IconSize.x5" Text="Проект"
            OnClick="@ShowProjectMenu" />
    </div>
</div>
