<div class="d-flex flex-column">
    <div class="user-select-none" style="font-size: small;" >
        <FluentIcon Value="@(new Icons.Filled.Size16.Sparkle())" Color="Color.Accent"/>
        Вехи
    </div>
    <MilestoneTimeline ></MilestoneTimeline>
</div>
