@using Cardmngr.Components.ProjectAggregate.Filter

<div class="flex flex-col">
    <div class="select-none flex" style="font-size: small;" >
        <div class="flex gap-1 items-center">
            <FluentIcon Value="@(new Icons.Filled.Size20.GanttChart())" Color="Color.Accent"/>
            Вехи
            @if (State.Milestones.Count > 1)
            {
                <FluentSwitch @bind-Value="collapsed" title="Развернуть / Свернуть"/>
            }
        </div>
        <FluentSpacer />
        <ProjectTextFieldFilterTool />
    </div>
    <MilestoneTimeline Class="mt-2" Collapsed="collapsed" ></MilestoneTimeline>
</div>
