<KolBoard TValue="OnlyofficeTask" CanItemDrag="@(x => x.CanEdit)">
    <Columns>
        @if (State.Initialized)
        {
            foreach (var status in State.Model!.Statuses.InLogicalOrder())
            {
                <div class="status-column" @key="status" >
                    <KolBoardColumn TValue="OnlyofficeTask" CanCollapse="true"
                        OnDropItem="@(async task => await OnChangeTaskStatus(task, status))"
                        Items="State.OutputTasks!.FilterByStatus(status).OrderByTaskCriteria()">
                        <HeaderTemplate Context="isCollapsed">                            
                            <TaskStatusHeader IsCollapsed="isCollapsed" TaskStatus="status" />
                            @if (State.SelectedMilestones.Count != 0)
                            {
                                <div class="mt-1 d-flex justify-content-center fw-light" style="font-size: small;">
                                    @State.OutputTasks!.FilterByStatus(status).Count() результатов
                                </div>
                            }
                        </HeaderTemplate>
                    </KolBoardColumn>
                </div>
            }
        }
    </Columns>
    <ItemTemplate Context="task">
        <TaskCard Task="task" />
    </ItemTemplate>
</KolBoard>
