@inject NavigationManager NavigationManager

<a class="text-dark fw-light small py-1" title="@Project.Title" href=@($"/project/{Project.Id}")>
    <div class="ref-container">
        @Project.Title
        <Icon Name="IconName.ArrowRight" />
    </div>
</a>

@code {
    [Parameter] public Project Project { get; set; } = null!;
}
