<div class="d-flex w-100">    
    <div>
        <div class="mb-2">
            <Tool Icon="@(new Icons.Regular.Size24.List())" Text="Проект"
                OnClick="@ShowProjectMenu" />
        </div>
        <div class="d-flex flex-row" >
            <div class="user-select-none" style="font-size: small;" >
                <FluentIcon Value="@(new Icons.Filled.Size16.Sparkle())" Color="Color.Accent"/>
                Вехи:
            </div>
        </div>
    </div>
    <MilestoneTimeline Class="ms-4" ></MilestoneTimeline>
</div>
