@using Cardmngr.Components.ProjectAggregate.Components

@inherits ProjectStateBase

@if (Initialized)
{
    <CascadingValue Value="this" IsFixed="true">
        <div class="proj-state scrollbar-none" style="@CssHeight">
            <div class="ms-3 mb-3">
                <div class="row">
                    <div class="col d-flex fw-bold text-black">
                        <ProjectClosedTasksInfo></ProjectClosedTasksInfo>
                        <div class="ms-2 align-self-center">
                            @(Model!.Project?.Title ?? "Задачи вне проектов")
                        </div>
                        @if (Model.Project is { })
                        {
                            if (IsCurrentUserInTeam)
                            {
                                <a class="align-self-center" href=@($"/project/{Model.Project.Id}")>
                                    <Icon class="ms-1" Name="IconName.BoxArrowInDownLeft" />
                                </a>
                            }
                            else
                            {
                                <Tooltip class="align-self-center text-muted" 
                                    Title="Вы не являетесь участником команды"
                                    Placement="TooltipPlacement.Right">
                                    <Icon class="ms-1" Name="IconName.BoxArrowInDownLeft" />
                                </Tooltip>
                            }
                        }
                    </div>
                    <div class="col align-self-center d-flex justify-content-end" style="margin-right: 10px;">
                        <SelectedMilestoneLabels />
                        <MilestoneFilterTool Disabled="isCollapsed" />
                        <Icon class="clickable ms-2" @onclick="@ToggleCollapsed"
                            Name="@(isCollapsed ? IconName.ChevronDown : IconName.ChevronUp)" />
                    </div>
                </div>
            </div>
            @if (!isCollapsed)
            {
                @ChildContent
            }
        </div>
    </CascadingValue>
}
else
{
    <div>Loading...</div>
}
