@inherits ProjectStateBase

@if (Initialized)
{    
    <div class="proj-state">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
}
else
{
    <div>Loading...</div>
}

@code {

}
