<div aria-autocomplete="none">
    <FluentTextField
        @ref="_fluentSearchComponent"
        Id="proj-filter-search"
        AutoComplete="off"
        @bind-Value="_inputValue"
        Immediate ImmediateDelay="500"
        @bind-Value:after="ParseInput"
        @onfocusin="_ => _popupVisible = !_popupVisible"
        Placeholder="Фильтр по карточкам"
        Style="width: 300px;"
        Appearance="FluentInputAppearance.Outline" >
        <FluentIcon Value="@(new Icons.Regular.Size16.Search())" Slot="start" Color="Color.Neutral" />
    </FluentTextField>
</div>

<FluentPopover Class="popup-filter-tool" style="padding: 0;"
    VerticalThreshold="170" 
    AutoFocus="false"
    AnchorId="proj-filter-search" 
    @bind-Open="_popupVisible" >
    <Body >
        <div class="narrow-tip mb-1 select-none">Cузьте область поиска</div>
        <div class="flex flex-col gap-1">
            @foreach (var filter in _filters)
            {
                <ProjectNarrowTip
                    Text="@($"{filter.Prefix}:")"
                    @onclick="() => OnFilterTipClicked(filter)"
                    Example="@filter.Example" />
            }
        </div>
    </Body>
</FluentPopover>
