.board .board-column {
    font-size: medium;
    max-width: 324px;
    min-width: 324px;
    background-color: var(--main-col-bg);
    margin: 5px;
    min-height: 100%;
    border-radius: 5px;
    border: 1px solid var(--boarder-color);
    padding: 5px;
    flex-direction: column;
}

    .board .board-column .drag-tool {
        cursor: grab;
    }

    .board .board-column .drag-tool:active {
        cursor: grabbing;
    }

    .board .board-column .column-title {
        color: var(--col-title-color);
    }

    .board .board-column .hidden {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    .board .board-column:hover .hidden {
        opacity: 1;
    }

    .board .board-column.dragover {
        border: 1px solid var(--drop-highlight-col);
    }

    .board .board-column .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        list-style: none;
    }