@using Modals

@implements IDisposable

<div class="d-flex @Board.CssName pb-5">
    <CascadingValue Value="lastDraggingCard">
        <CascadingValue Value="cardDetailsModalOptions">
            @foreach (var column in Board)
            {
                <BoardColumnView BoardColumn="column" @key="column" NewCardCreated="SubscribeDragHandler" />
            }
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    private readonly ModalOptions cardDetailsModalOptions = new()
    {
        Size = Blazored.Modal.ModalSize.ExtraLarge,
        DisableBackgroundCancel = true
    };
    
    BlazorCards.Card? lastDraggingCard;

    [Parameter] public Board Board { get; set; } = null!;

    protected override void OnInitialized()
    {
        Board.CssName = "board";
        Board.PosChanged += Refresh;
        Board.LayoutChanged += Refresh;

        foreach (var card in Board.AllCards())
            card.DragStart += UpdateDraggingCard;
    }

    private void SubscribeDragHandler(BlazorCards.Card createdCard)
    {
        createdCard.DragStart += UpdateDraggingCard;
    }
    
    private void UpdateDraggingCard(BlazorCards.Card card)
    {
        lastDraggingCard = card;
        InvokeAsync(StateHasChanged);
        Console.WriteLine($"LastDraggingCard changed on {card.Title}");
    }

    public void Dispose()
    {
        Board.PosChanged -= Refresh;
        Board.LayoutChanged -= Refresh;

        foreach (var card in Board.AllCards())
            card.DragStart -= UpdateDraggingCard;
    }

    private void Refresh() => StateHasChanged();
}
