.board .board-column {
    font-size: medium;
    min-width: 324px;
    min-height: 250px;
    background-color: var(--main-col-bg);
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #75868a;
    padding: 5px;
    flex-direction: column;
}

    .board .board-column .hidden {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    .board .board-column:hover .hidden {
        opacity: 1;
    }

    .board .board-column.dragover {
        border: 1px solid var(--drop-highlight-col);
    }

    .board .board-column .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }