
@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div style="max-width: 135px;" @onclick:stopPropagation @ondblclick:stopPropagation >
        @if (Milestone.Title!.Length > 20)
        {
            <Tooltip Title="@Milestone.Title" Placement="TooltipPlacement.Bottom">
                @Badge
            </Tooltip>
        }
        else
        {
            @Badge
        }
    </div>
}
else
{
    @if (Milestone.Title!.Length > 20)
    {
        <Tooltip Title="@Milestone.Title" Placement="TooltipPlacement.Bottom">
            @Badge
        </Tooltip>
    }
    else
    {
        @Badge
    }
}

@code {
    [Parameter] public Onlyoffice.Api.Models.Milestone Milestone { get; set; } = null!;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    private RenderFragment Badge =>
        @<Badge @onclick="OnClick" class="@Class" IndicatorType="BadgeIndicatorType.RoundedPill" Color="BadgeColor.Warning" >
            <span style="font-size: 12px; font-weight: 500;" class="hide-max-140 user-select-none">
                @Milestone.Title
            </span>
        </Badge>;
}
