@inherits KolComponentBase

<div class="d-flex @Class" style="@Style">
    <div class="d-flex col-md-1 align-self-center" style="max-width: 22px;">
        <span class="text-vertical-1 user-select-none" style="font-size: small; font-weight: bold;">вехи</span>
    </div>
    <div class="col d-flex flex-column" >
        <MilestoneTimeline Project="Project" />
    </div>
    <div class="d-flex px-3">
        <Tool IconName="IconName.List" IconSize="IconSize.x5" Text="Проект"
            OnClick="ShowMenu" />
    </div>
</div>

@code {
    [Parameter] public ProjectModel Project { get; set; } = null!;
    [CascadingParameter(Name = "DetailsModal")] ModalOptions Options { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;

    private async Task ShowMenu()
    {
        await Modal.Show<ProjectDetailsModal>("", new ModalParameters { { "ProjectModel", Project } }, Options).Result;
    }
}
