a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 250px; /* Ширина контейнера */
    display: -webkit-box; /* Установка элемента как flex-контейнера */
    overflow: hidden; /* Скрытие содержимого, выходящего за пределы контейнера */
    -webkit-box-orient: vertical; /* Установка ориентации блоков по вертикали */
    -webkit-line-clamp: 2; /* Ограничение количества строк до 2 */
    text-overflow: ellipsis; /* Вывод многоточия, если текст обрезан */
    padding-left: 0;
}