
<Card class="p-2" style="background-color: var(--main-responsibles-bg);">
    <div class="d-flex justify-content-end fw-lighter">
        Ответственные
    </div>
    <div class="d-flex flex-column">
        @{
            var count = 0;
            foreach (var user in Responsibles)
            {
                if (count >= MaxCount) break;

                <UserAvatar User="user" ShowTooltip="@ShowTooltip" Size="ImageSize"
                    ShowName="ShowName" />

                count++;
            }
        }
    </div>
    @if (totalCount > MaxCount)
    {
        <span class="d-flex justify-content-end" style="margin-right: 2px;">+@(totalCount - MaxCount)</span>
    }
</Card>

@code {
    private int totalCount => Responsibles.Count();

    [Parameter]
    public IEnumerable<Onlyoffice.Api.Models.IUser> Responsibles { get; set; } = null!;

    [Parameter]
    public int ImageSize { get; set; } = 32;

    [Parameter]
    public bool ShowTooltip { get; set; }
    
    [Parameter] 
    public bool ShowName { get; set; }

    [Parameter]
    public int MaxCount { get; set; } = 2;

}
