
@if (Board is { })
{
    <div class="d-flex position-relative overflow-hidden pb-2 flex-row board" >
        <div class="d-flex flex-row" style="flex: auto !important; width: 100% !important;">
            <CascadingValue Value="Board" IsFixed="true">
                @foreach (var column in Board)
                {
                    <StatusColumnView StatusColumn="column" @key="column" />
                }
            </CascadingValue>
        </div>
    </div>
}

@code {
    [Parameter] public IStatusColumnBoard? Board { get; set; }
}
