.board .board-column .card-container .my-card {
    font-size: small;
    margin-bottom: 10px;
    border: 1px solid var(--boarder-color);
    cursor: pointer;
    background-color: var(--main-card-bg);
    border-radius: 5px;
    width: 100%;
}

.board .board-column .my-card.dragged {
    opacity: 0.5;
}

.max-height-100 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
 }

.red-border {
    border: 2px solid red !important;
}

.default-text {
    color: var(--col-title-color);
}