<div>
    <Tooltip Title="Добавить доску" Placement="TooltipPlacement.Bottom">
        <Icon class="highlight" Name="IconName.Plus" Size="IconSize.x2" Color="IconColor.Success" />
    </Tooltip>
</div>

@code {

}