@inject IConfiguration Config
@inject NavigationManager NavigationManager

<div class="d-flex align-items-center">
    <Tool IconName="IconName.BoxArrowUpRight" TooltipTitle="Перейти в Р7-Офис" IconColor="IconColor.Dark" 
        OnClick=@(() => NavigationManager.NavigateTo(Config["onlyoffice-url"] ?? throw new NullReferenceException("No onlyoffice config"))) 
        />
</div>

@code {
    
}