@using BlazorCards
@using Cardmngr.Utils

@inject IJSRuntime JSRuntime

<div class="viewport workarea" @onmousedown="@StartPan"
    @onmousedown:preventDefault
    onwheel="panzoom.zoom(event)">
    <div id="workarea" style="transform-origin:0% 0%;">
        <h1>BOBBY</h1>
    </div>
</div>

@code {

    private Vector2 clickStartPos;

    private async Task StartPan(MouseEventArgs e)
    {
        clickStartPos = e.GetClientPos();
        await JSRuntime.InvokeVoidAsync("panzoom.startPan");
    }
}