@inject TeamMemberSelectionDialog SelectionDialog
@inject IProjectApi ProjectApi
@inject ToastService ToastService

@using Offcanvas = Cardmngr.Components.Modals.MyBlazored.Offcanvas;

@if (changingState is { })
{
    <Cardmngr.Components.Modals.MyBlazored.Offcanvas Placement="MyOffcanvasPlacement.End" Class="my-offcanvas my-offcanvas-right" @ref="currentModal">
        <OffcanvasHeader Class="py-0" Style="padding-top: 20px !important;">
            <TitleChanger Disabled="Disabled" @bind-Title="changingState.Title" />
        </OffcanvasHeader>
        <OffcanvasBody Class="d-flex flex-column">
            <div class="mb-2" >
                <WorkContainerDateProgress Work="changingState" />
            </div>
            <div class="d-flex justify-content-end">
                <UserBadge User="changingState.Responsible"Title="Ответственный" OnClick="ShowSelectionDialog" />
            </div>
            <Card class="p-1 mt-3">
                <DateChanger Title="Крайний срок" Disabled="Disabled" EmptyText="Не установлен" @bind-Date="changingState.Deadline" />
            </Card>
            <DescriptionChanger Disabled="Disabled" Class="mt-2" @bind-Description="changingState.Description" />
            <div class="mt-2">
                <MelistoneShortTasks Milestone="Milestone" />
            </div>
            <div class="d-flex mt-2 flex-row">
                <Button Loading="saving" Disabled="Disabled" Type="ButtonType.Submit" Color="ButtonColor.Success" Outline="true" @onclick="Save" >
                    Сохранить
                </Button>
                <Button class="ms-2" Disabled="Disabled" Color="ButtonColor.Danger" @onclick="Delete" Outline="true" >
                    Удалить
                </Button>
            </div>
        </OffcanvasBody>
    </Cardmngr.Components.Modals.MyBlazored.Offcanvas>
}

@code {
    private bool saving;
    private MilestoneModel changingState = null!;
    private Offcanvas currentModal = null!;

    [CascadingParameter(Name = "MiddleModal")] ModalOptions ModalOptions { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;

    [Parameter] public MilestoneModel Milestone { get; set; } = null!;
    [Parameter] public bool Disabled { get; set; }

    protected override void OnInitialized()
    {
        changingState = Milestone.Clone();
    }

    private async Task ShowSelectionDialog()
    {
        if (Disabled) return;
        var selected = await SelectionDialog.ShowAsync(Milestone.Project, ModalOptions);

        if (selected is { })
        {
            changingState.Responsible = selected;
        }
    }

    private async Task Save()
    {
        if (changingState.Deadline is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Крайний срок должен быть указан."));
            return;
        }

        saving = true;

        var milestone = await ProjectApi.UpdateMilestoneAsync(Milestone.Id, changingState.GetUpdatedState());
        Milestone.Update(milestone);

        await currentModal.CloseAsync(ModalResult.Ok());
    }

    private async Task Delete()
    {
        var result = await Modal.Show<DefaultConfirmModal>("Удалить?", ModalOptions).Result;

        if (result.Confirmed)
        {
            await ProjectApi.DeleteMilestoneAsync(Milestone.Id);
            Milestone.Project.DeleteMilestone(Milestone);
            
            await currentModal.CloseAsync(ModalResult.Ok());
        }        
    }
}