
@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div style="max-width: 135px;" @onclick:stopPropagation @ondblclick:stopPropagation >
        @if (Milestone.Title?.Length > 20)
        {
            <Tooltip Title="@Milestone.Title" Placement="TooltipPlacement.Bottom">
                @FluentBadge
            </Tooltip>
        }
        else
        {
            @FluentBadge
        }
    </div>
}
else
{
    @if (Milestone.Title?.Length > 20)
    {
        <Tooltip Title="@Milestone.Title" Placement="TooltipPlacement.Bottom">
            @FluentBadge
        </Tooltip>
    }
    else
    {
        @FluentBadge
    }
}

@code {
    [Parameter] public Milestone Milestone { get; set; } = null!;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    RenderFragment FluentBadge =>
        @<FluentBadge @onclick="OnClick" class=@($"{Class} {(OnClick.HasDelegate ? "clickable" : "")}") 
            BackgroundColor="yellow" >
            <span style="font-size: 12px; font-weight: 500;" class="hide-max-140 user-select-none">
                @Milestone.Title
            </span>
        </FluentBadge>;
}
