@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div class="@Class" @onclick:stopPropagation @ondblclick:stopPropagation >
        @FluentBadge
    </div>
}
else
{
    <div class="@Class" >
        @FluentBadge
    </div>
}

@code {
    [Parameter] public Milestone Milestone { get; set; } = null!;

    RenderFragment FluentBadge =>
        @<div>
            @if (Milestone is { })
            {
                <div @onclick="HandleClick" title="Веха" class=@($"d-flex {(OnClick.HasDelegate ? "clickable" : "")}") >
                    <FluentIcon Value="@(new MyIcons.Size16.Milestone())" Color="Color.Accent" class="me-1 align-self-center" />
                    <span style="font-size: 12px; font-weight: 500; color: var(--accent-fill-rest);" 
                        class="user-select-none">
                        @Milestone.Title
                    </span>
                </div>
            }
        </div>;
}
