
@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div @onclick:stopPropagation @ondblclick:stopPropagation >
        @FluentBadge
    </div>
}
else
{
    @FluentBadge
}

@code {
    [Parameter] public Milestone Milestone { get; set; } = null!;

    RenderFragment FluentBadge =>
        @<div>
            @if (Milestone is { })
            {
                <FluentBadge title="@Milestone.Title" @onclick="HandleClick" class=@($"{Class} {(OnClick.HasDelegate ? "clickable" : "")}") 
                    Appearance="Appearance.Accent" >
                    <span style="font-size: 12px; font-weight: 500;" class="hide-max-140 user-select-none">
                        @Milestone.Title
                    </span>
                </FluentBadge>
            }
        </div>;
}
