.selected {
    background-color: var(--accent-fill-active);
}

.timeline-milestone {
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.timeline-badge {
    background-color: var(--accent-fill-rest) !important;
    border-radius: 5px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.hided-opt {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.hided-opt.show-opt {
    opacity: 1;
}