<FluentDesignTheme StorageName="theme" />
<CascadingBlazoredModal Class="my-modal" >
    <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Извините, но здесь ничего нет.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>