.header {
    border-bottom: 1px solid #c5c5c5;
}

.footer {
    font-size: large;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.top-line {
    border-top: 1px solid #c5c5c5;
}