
<div class="d-flex flex-row align-items-center">
    @if (isEditMode)
    {
        <InputText class="display-6 fw-bolder" @bind-Value="Task.Title" />
    }
    else
    {
        <h1>@Task.Title</h1>
    }
    <div class="ms-2">
        <Tool IconName="@(isEditMode ? IconName.PencilFill : IconName.Pencil)" 
            Disabled="Disabled"
            TooltipTitle="@(isEditMode ? "Прекратить" : "Изменить")" 
            OnClick="() => isEditMode = !isEditMode"/>
    </div>
</div>

@code {
    private bool isEditMode;
    [Parameter] public Onlyoffice.Api.Models.Task Task { get; set; } = null!;
    [Parameter] public bool Disabled { get; set; }
}
