
@code {
    public static RenderFragment<ProjectStatusData> RenderStatus => data =>
        @<FluentBadge BackgroundColor="@data.BadgeColor" Fill="val" class="select-none">
            <div class="flex items-center" >
                <span style="font-size: x-small;">@data.Title</span>
                <FluentIcon class="ms-1 flex" Value="data.IconName" Color="@Color.Neutral" />
            </div>
        </FluentBadge>;
}
