@using Onlyoffice.Api.Models

<InfoItem Title="Ответственные" Editable="!Disabled"
          Icon="new Icons.Filled.Size20.People()" >
    <Content>
        <div class="group/items flex gap-1 flex-wrap items-center">
            @foreach (var user in _selectedResponsibles)
            {
                <div class="group/item flex gap-1 text-xs py-0 px-1 items-center rounded-full hover:bg-layer-1 transition-colors">
                    <UserAvatar User="user" Size="20" ShowName Style="padding-top: 0px !important; padding-bottom: 0px !important;" />
                    @if (!Disabled)
                    {
                        <div class="group-hover/item:opacity-100 opacity-0 transition-opacity" @onclick:stopPropagation >
                            <FluentIcon Value="@(new Icons.Filled.Size12.Dismiss())"
                                    title="Удалить"
                                    @onclick="() => RemoveUser(user)" />
                        </div>
                    }
                </div>
            }
            @if (_selectedResponsibles.Count == 0)
            {
                <div class="text-info select-none @(Disabled ? "" : "hover:underline")" >
                    Пусто
                </div>
            }
            else if (!Disabled)
            {
                <div class="transition-opacity duration-300 opacity-0
                        group-hover/items:opacity-100 underline hover:decoration-dotted
                        tracking-widest" title="Добавить">
                    ...
                </div>
            }
        </div>
    </Content>
    <Popover>
        <div class="max-w-md w-details-popup flex flex-col gap-3">
            <FluentTextField ImmediateDelay="50"
                             Value="@_searchText" 
                             Immediate
                             Placeholder="Поиск пользователя"
                             ValueChanged="OnSearch">
                <FluentIcon Slot="end" Value="@(new Icons.Filled.Size16.Search())" />
            </FluentTextField>
            <div class="max-h-52 overflow-auto">
                @foreach (var user in _searchResponsibles)
                {
                    <div class="even:bg-neutral-hover flex gap-2 first:rounded-t-lg last:rounded-b-lg
                        items-center cursor-pointer hover:bg-neutral-fill-hover p-1 text-xs"
                        @onclick="() => SelectUser(user)" >
                        <UserAvatar ShowName User="user" Size="20" />
                    </div>
                }
                @if (_searchResponsibles.Count == 0)
                {
                    <div class="text-xs">Ничего не найдено</div>
                }
            </div>
        </div>
    </Popover>
</InfoItem>