@using System.Collections.ObjectModel
@using Onlyoffice.Api.Models

<Card >
    <CardBody class="d-flex flex-column" style="overflow-y: scroll; max-height: 200px;">
        <CardTitle>
            <div class="row d-flex align-items-center">
                <div class="col-md-11"> 
                    <Icon Name="IconName.PeopleFill" />
                    Ответственные
                </div>
                <div class="col-md-1 d-flex justify-content-end">
                    <Tool Disabled="@Disabled" IconName="@IconName.Pencil" IconSize="@IconSize.x6"
                        TooltipTitle="Изменить" OnClick="@ShowResponsibleSelectionModal" />
                </div>
            </div>
        </CardTitle>
        <UserList Users="SelectedUsers" />
    </CardBody>
</Card>


@code {
    [CascadingParameter] ProjectState State { get; set; } = null!;
    [CascadingParameter(Name = "MiddleModal")] ModalOptions ModalOptions { get; set; } = null!;

    [CascadingParameter] IModalService Modal { get; set; } = default!;

    [Parameter] public TaskUpdateData Task { get; set; } = null!;
    [Parameter] public bool Disabled { get; set; }
    
    private IEnumerable<UserInfo> SelectedUsers => State.Model!.Team
        .Where(participant => Task.Responsibles?.Any(x => x == participant.Id) ?? false);

    private async Task ShowResponsibleSelectionModal()
    {
        var parameters = new ModalParameters
        {
            { "SelectedIds", Task.Responsibles },
            { "Responsibles", State.Model!.Team }
        };

        var result = await Modal.Show<ResponsiblesSelectionModal>("Выберите ответственных", parameters, ModalOptions).Result;

        if (result.Confirmed)
        {
            var users = (IEnumerable<string?>)result.Data!;
            Task.Responsibles = users!.ToList();
        }
    }
}