@using Onlyoffice.Api.Models

@inherits KolComponentBase

<div class="d-flex @Class" style="@Style">
    Приоритет -
    <FluentBadge Appearance="Appearance" Class="user-select-none ms-1" OnClick="TogglePriority">
        @if (IsHigh)
        {
            <FluentIcon Value="@(new Icons.Filled.Size16.ArrowCircleUp())" 
                Color="Color.Error" Style="margin-right: 2px;" />
        }
        @(IsHigh ? "Высокий" : "Обычный")
    </FluentBadge>
</div>

@code {
    [Parameter] public TaskUpdateData Task { get; set; } = null!;
    [Parameter] public bool Disabled { get; set; }

    bool IsHigh => Task.Priority == (int)Domain.Enums.Priority.High;

    Appearance Appearance => IsHigh ? Appearance.Accent : Appearance.Neutral;

    void TogglePriority()
    {
        Task.Priority = IsHigh ? (int)Domain.Enums.Priority.Regular : (int)Domain.Enums.Priority.High;
    }
}
