@if (MilestoneTasks.Any())
{
    <FluentCard>
        <CardBody class="p-1 overflow-auto d-flex flex-column task-container" style="max-height: 500px;">
            @foreach (var task in MilestoneTasks.OrderByTaskCriteria())
            {
                <span class="py-1" style="z-index: 99;" >
                    <ShortTaskCard Task="task" />
                </span>
            }
        </CardBody>
        <CardFooter class="d-flex justify-content-end bg-main">
            <h6 class="col">
                <Icon Name="IconName.UiChecks" />
                Задачи
            </h6>
            <span>@($"{MilestoneTasks.Count(x => x.Status == Status.Closed)} / {MilestoneTasks.Count()}")</span>
            <Icon class="ms-2" Name="IconName.CheckCircleFill" Color="IconColor.Success" />
        </CardFooter>
    </FluentCard>
}
else
{
    <FluentCard>
        <CardBody>
            <span>Веха не содержит задач</span>
        </CardBody>
    </FluentCard>
}

@code {
    [Parameter, EditorRequired] public IEnumerable<OnlyofficeTask> MilestoneTasks { get; set; } = null!;
}
