@inject IProjectApi ProjectApi

@if (changingState is { })
{
    <div class="offcanvas @DelayedShow offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop" >
        <div class="offcanvas-header">
            <TitleChanger @bind-Title="changingState.Title" Disabled="!IsCanEdit" />
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <CardInfoHeader Task="changingState" Disabled="!IsCanEdit" />
            <div class="pt-2">
                <DescriptionChanger @bind-Description="changingState.Description" Disabled="!IsCanEdit" />
            </div>
            <div class="pb-2 pt-2">                 
                <CardResponsibles Task="changingState" Disabled="!IsCanEdit" />
            </div>
            <div class="pb-2">
                <CardMilestone Task="changingState" Disabled="!IsCanEdit" />
            </div>
            <CardSubtasks Task="changingState" Disabled="!IsCanEdit" />
            <div class="row pt-2 d-flex justify-content-end">
                <div class="d-flex flex-row">
                    <Button Loading="saveLoading" Color="ButtonColor.Success" Outline="true" @onclick="ConfirmSaving"
                        Disabled="!IsCanEdit" >
                        Сохранить
                    </Button>
                    <Button class="ms-2" @onclick="ShowDeleteConfirmModal" Color="ButtonColor.Danger" Outline="true"
                        Disabled="!IsCanEdit" >
                        Удалить
                    </Button>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-backdrop fade @DelayedShow" style="z-index: 2;" @onclick="Cancel"></div>
}

@code {
    private bool saveLoading;
    private TaskModel? changingState;
    private string DelayedShow = "";

    [CascadingParameter(Name = "MiddleModal")] ModalOptions ModalOptions { get; set; } = null!;
    [CascadingParameter] BlazoredModalInstance CurrentModel { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = default!;

    [Parameter] public TaskModel Task { get; set; } = null!;
    [Parameter] public bool IsCanEdit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        changingState = Task.Clone(false);
        await ToggleDelayShowAsync();
    }

    private async Task ConfirmSaving()
    {
        saveLoading = true;

        var updatedTask = await ProjectApi.UpdateTaskAsync(changingState!.Id, changingState.GetUpdateState());
        Task.Update(updatedTask);

        await ToggleDelayShowAsync();
        await CurrentModel.CloseAsync(ModalResult.Ok());
    }

    private async Task ShowDeleteConfirmModal()
    {
        var result = await Modal.Show<DefaultConfirmModal>("Удалить?", ModalOptions).Result;

        if (result.Confirmed)
        {
            await ProjectApi.DeleteTaskAsync(Task.Id);
            Task.StatusColumn.Remove(Task);

            await ToggleDelayShowAsync();
            await CurrentModel.CloseAsync(ModalResult.Ok());
        }
    }

    private async Task Cancel() // TODO: refactor - DRY
    {
        await ToggleDelayShowAsync();
        await CurrentModel.CloseAsync(ModalResult.Cancel());
    }

    private async Task ToggleDelayShowAsync() // need for correct animation showing
    {
        await System.Threading.Tasks.Task.Delay(1);
        DelayedShow = string.IsNullOrEmpty(DelayedShow) ? "show" : "";
    }
}