@keyframes redFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(226, 85, 85);
  }
  100% {
    background-color: transparent;
  }
}

.h-text-area {
  border-radius: 5px;
  animation: redFlash 0.4s linear;
}
