
@if (Responsibles.Any())
{
    @foreach (var responsible in Responsibles)
    {
        <div class="row d-flex align-items-center mt-2">
            <div class="d-flex flex-row align-items-center">
                <ResponsibleAvatar Responsible="responsible" ShowTooltip="false" />
                <span class="ms-2">@responsible.DisplayName</span>
            </div>
        </div>
    }
}
else
{
    <span class="text-secondary">Список пуст</span>
}

@code {
    [Parameter] public List<Onlyoffice.Api.Models.Responsible> Responsibles { get; set; } = null!;
}
