@using Cardmngr.Shared.Feedbacks

@inherits AddEditModalBase<Feedback, FeedbackUpdateData>

@if (Buffer is { })
{
    <Offcanvas @ref="currentModal" 
               Placement="MyOffcanvasPlacement.End" 
               Class="my-offcanvas round" 
               OnClose="ShowCloseConfirm" >
        <EditForm Model="Buffer" OnValidSubmit="SubmitAsync" @onkeydown="HandleKeyDown">
            <FluentValidationValidator />
            <OffcanvasHeader Class="py-0" Style="padding-top: 20px !important;">
                <AutoGrowTextArea style="font-size: 20px; font-weight: 500;" ReadOnly="!CanEdit"
                    @bind-Value="Buffer.Title" class="p-0 w-full" Autofocus="true" />
            </OffcanvasHeader>
            <FluentValidationMessage For="() => Buffer.Title" class="ms-3" />
            <OffcanvasBody Class="flex flex-col">
                <AutoGrowTextArea Resize="TextAreaResize.Vertical" Placeholder="Описание" Class="w-full"
                    @bind-Value="Buffer.Description" Spellcheck="true" ReadOnly="!CanEdit" />
            </OffcanvasBody>
            @if (!IsAdd)
            {
                <div class="mt-2 px-3">
                    <UserBadge User="Model!.Creator" Text="Создатель" />
                </div>
            }
            <div class="flex ms-3 flex-row">
                <FluentButton Disabled="@(!CanEdit)" Type="ButtonType.Submit" >
                    @SubmitText
                </FluentButton>
                @if (!IsAdd)
                {
                    <FluentButton Class="ms-2" Disabled="@(!CanEdit)"
                            OnClick="DeleteAsync" >
                            Удалить
                    </FluentButton>
                }
            </div>
        </EditForm>
    </Offcanvas>
}

@code {
    bool enterPressed;

    void HandleKeyDown(KeyboardEventArgs e)
    {
        enterPressed = e.Key == "Enter";
    }
}