@page "/project/{ProjectId:int}"

@implements IDisposable

@using Onlyoffice.Api.Models
@using KolBlazor.Components.Timeline
@using Task = System.Threading.Tasks.Task

@inherits AuthorizedPage

@inject IProjectApi ProjectApi

@if (model is { })
{
    <span>Успешно</span>
    @* <Offcanvas @ref="menuCanvas" ShowCloseButton="false" />

    <div class="d-flex flex-column position-relative mb-5" style="flex: auto !important;">
        <div class="row mb-2" style="margin-left: 10px;">
            <div class="col-md-11 d-flex flex-column" >
                <KolTimeline @ref="timeline" >
                    @foreach (var milestone in model.Milestones)
                    {
                        var minDate = board.GetMilestoneStart(milestone);
                        <KolTimelineItem @key="milestone" End="milestone.Deadline!.Value" Start="minDate">
                            <TimelineMilestone OnSelectionChanged="x => boardView.ToggleMilestone(milestone)"
                                Milestone="milestone" Start="minDate" OnUpdated="UpdateMilestone" OnDeleted="DeleteMilestone" />
                        </KolTimelineItem>
                    }
                </KolTimeline>
            </div>
            <div class="col-md-1 align-self-center d-flex justify-content-end">
                <Tool IconName="IconName.List" IconSize="IconSize.x5" Text="Меню"
                    OnClick="ShowMenu" />
            </div>
        </div>
        <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
            <BoardView @ref="boardView" Board="board" OnCreatedCard="Refresh" />
        </div>
    </div> *@
}
else
{
    <CardText>Загрузка</CardText>
}

@code {
    private KolTimeline timeline = null!;
    private Board? board;
    private List<Milestone> milestones = null!;
    private Offcanvas menuCanvas = null!;
    private BoardView boardView = null!;
    private ProjectPageModel? model;

    [Parameter] public int? ProjectId { get; set; }
    [CascadingParameter] HeaderTitle HeaderTitle { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (ProjectId.HasValue && ProjectId != null)
        {
            var project = ProjectApi.GetProjectByIdAsync(ProjectId.Value);
            var tasks = ProjectApi.GetFiltredTasksAsync(FilterTasksBuilder.Instance.WithProjectId(ProjectId.Value));
            var statuses = ProjectApi.GetAllTaskStatusesAsync();
            var milestones = ProjectApi.GetMilestonesByProjectIdAsync(ProjectId.Value);

            model = new ProjectPageModel(await project, await tasks, await statuses, await milestones);

            @* boardView?.InitializeEventHandlers(board);

            foreach (var card in board.AllCards())
                card.LayoutChanged += Refresh; *@

            HeaderTitle.Content = GetTitleContent(model.ProjectTitle);
        }
    }

    @* private async Task<Board> InitializeBoard()
    {
        var project = ProjectApi.GetProjectByIdAsync(ProjectId!.Value);
        var tasks = ProjectApi.GetFiltredTasksAsync(FilterTasksBuilder.Instance.WithProjectId(ProjectId.Value));
        var statuses = await ProjectApi.GetAllTaskStatusesAsync();

        var orderedStatuses = statuses
            .OrderBy(x => (x.StatusType, x.Order));

        return ModelConverter.ConvertToBoard(await project, await tasks, orderedStatuses);
    } *@

    private RenderFragment<string> GetTitleContent = title => 
        @<div class="fw-bold">
            @title
        </div>;

    private async Task ShowMenu()
    {
        await menuCanvas.ShowAsync<ProjectMenuModal>("", new Dictionary<string, object>
        {
            { "Board", board! }
        });
    }

    private void UpdateMilestone(Onlyoffice.Api.Models.Milestone value)
    {
        var update = milestones.Find(x => x.Id == value.Id);
        if (update is { })
        {
            update.Title = value.Title;
            update.Description = value.Description;
            update.Deadline = value.Deadline;
            update.Responsible = value.Responsible;
        }
    }

    private void DeleteMilestone(Onlyoffice.Api.Models.Milestone value)
    {
        milestones.Remove(value);
        
        var taskWithMilestone = board!
            .AllCards()
            .Select(x => x.GetTask())
            .Where(x => x.MilestoneId == value.Id);

        foreach (var task in taskWithMilestone)
        {
            task.Milestone = null;
            task.MilestoneId = 0;
        }
    }
    
    private void Refresh() => StateHasChanged();

    public void Dispose()
    {
        menuCanvas.Dispose();
        HeaderTitle.Content = null;
    }
}