@page "/project/{ProjectId:int}"

@implements IDisposable

@using Onlyoffice.Api.Models
@using KolBlazor.Components.Timeline
@using Task = System.Threading.Tasks.Task

@inherits AuthorizedPage

@inject IProjectApi ProjectApi


<Offcanvas @ref="menuCanvas" ShowCloseButton="false" />

<div class="d-flex flex-column position-relative mb-5" style="flex: auto !important;">
    <div class="row mb-2" style="margin-left: 10px;">
        <div class="col-md-11 d-flex flex-column" >
            <KolTimeline ShowTodayLine="true" >
                @if (model is { })
                {
                    foreach (var milestone in model.Milestones)
                    {
                        <KolTimelineItem @key="milestone.Id" End="milestone.Deadline!.Value" Start="milestone.Start">
                            <TimelineMilestone Milestone="milestone" />
                        </KolTimelineItem>
                    }
                }
            </KolTimeline>
        </div>
        <div class="col-md-1 align-self-center d-flex justify-content-end">
            <Tool IconName="IconName.List" IconSize="IconSize.x5" Text="Меню"
                OnClick="ShowMenu" />
        </div>
    </div>
    <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
        @if (model is { })
        {
            <CascadingValue Value="model.Milestones" IsFixed="true" >
                <StatusColumnsView Model="model.StatusColumns" />
            </CascadingValue>
        }
    </div>
</div>

@code {
    private Offcanvas menuCanvas = null!;
    private ProjectModel? model;

    [Parameter] public int? ProjectId { get; set; }
    [CascadingParameter] HeaderTitle HeaderTitle { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (ProjectId.HasValue && ProjectId != null && ProjectId != model?.Id)
        {
            var project = ProjectApi.GetProjectByIdAsync(ProjectId.Value);
            var tasks = ProjectApi.GetFiltredTasksAsync(FilterTasksBuilder.Instance.WithProjectId(ProjectId.Value));
            var statuses = ProjectApi.GetAllTaskStatusesAsync();
            var milestones = ProjectApi.GetMilestonesByProjectIdAsync(ProjectId.Value);
            var team = ProjectApi.GetProjectTeamAsync(ProjectId.Value);

            model = new ProjectModel(await project, await tasks, await statuses, await milestones, await team);

            model.ModelChanged += Refresh;

            HeaderTitle.Content = GetTitleContent(model.Title);
        }
    }

    private RenderFragment<string> GetTitleContent = title => 
        @<div class="fw-bold">
            @title
        </div>;

    private async Task ShowMenu()
    {
        await menuCanvas.ShowAsync<ProjectMenuModal>("", new Dictionary<string, object>
        {
            { "ProjectModel", model! },
            { "Close", EventCallback.Factory.Create(this, async () => await menuCanvas.HideAsync()) }
        });
    }
    
    private void Refresh() => StateHasChanged();

    public void Dispose()
    {
        menuCanvas.Dispose();
        HeaderTitle.Content = null;
    }
}