@inject ILocalStorageService LocalStorage

<div>
    <FluentDivider />
    <span class="text-sm text-info">Version: @appVersion</span>
</div>

@code {
    private string? appVersion;

    protected override async Task OnInitializedAsync()
    {
        appVersion = await LocalStorage.GetItemAsStringAsync("r7cards-version");
    }
}
