@inherits SingleValueChangerBase

<div class="row p-1">
    <div class="col">
        @Title
    </div>
    <div class="col d-flex justify-content-end">
        @if (EditMode)
        {
            <input @ref="Input" type="date" class="form-control" @bind="Date"
                @onfocusout="ToggleEditMode"
                style="max-width: 150px; max-height: 25px;" id="@InputId" />
        }
        else
        {
            @if (Date is { })
            {
                <span @onclick="ToggleEditMode" class="small ms-2">@Date?.ToString("d MMM yyyy г.")</span>
            }
            else
            {
                <i @onclick="ToggleEditMode" class="text-secondary fw-lighter ms-2">@EmptyText</i>
            }
        }
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? EmptyText { get; set; }

    [Parameter] public string? InputId { get; set; }

    private DateTime? date;

    [Parameter] 
#pragma warning disable BL0007
    public DateTime? Date
#pragma warning restore BL0007
    {
        get => date;
        set
        {
            if (date != value)
            {
                date = value;
                DateChanged.InvokeAsync(value).Forget();
            }
        }
    }


    [Parameter] public EventCallback<DateTime?> DateChanged { get; set; }
}
