@inherits SingleValueChangerBase<DateTime?>

<div class="d-flex align-items-center @Class" style="@Style">
    @Title
    <div style="flex-grow: 1;"></div>
    <FluentDatePicker Autofocus="true" Placeholder="@EmptyText"
        ReadOnly="Disabled" @bind-Value="Date" id="@InputId" />
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? EmptyText { get; set; }

    [Parameter] public string? InputId { get; set; }

    private DateTime? date;

    [Parameter] 
#pragma warning disable BL0007
    public DateTime? Date
#pragma warning restore BL0007
    {
        get => date;
        set
        {
            if (date != value)
            {
                date = value;
                DateChanged.InvokeAsync(value).Forget();
            }
        }
    }


    [Parameter] public EventCallback<DateTime?> DateChanged { get; set; }
}
