@inherits SingleValueChangerBase<string>

<div class="@Class" style="@Style">
    <FluentTextArea @ref="Input" Resize="TextAreaResize.Vertical"
        Placeholder="Описание" Class="w-100" Rows="6" @onkeypress="e => Console.WriteLine(e.Key)"
        @bind-Value="Description" Spellcheck="true" />

    @* <FluentCard>
        <CardBody >
            <CardTitle>
                <div class="d-flex align-items-center fs-6">
                    <Icon Name="IconName.TextLeft" />
                    <span class="ms-1">Описание</span>
                </div>
            </CardTitle>
            <div class="d-flex flex-column">
                @if (EditMode)
                {
                    <FluentTextArea @ref="Input" 
                        Placeholder="Описание"
                        @bind-Value="Description"
                        style="height: 100%; resize:none; min-height:150px;" />
                }
                else
                {
                    if (string.IsNullOrEmpty(Description))
                    {
                        <span @onclick="ToggleEditMode">Описание пусто</span>
                    }
                    else
                    {
                        <span @onclick="ToggleEditMode" class="desc-text">@Description</span>
                    }
                }
            </div>
        </CardBody>
    </FluentCard> *@
</div>

@code {
    private string? description;

    [Parameter] 
#pragma warning disable BL0007
    public string? Description
#pragma warning restore BL0007
    {
        get => description;
        set
        {
            if (description != value)
            {
                description = value;
                DescriptionChanged.InvokeAsync(description).Forget();
            }
        }
    }

    [Parameter] public EventCallback<string?> DescriptionChanged { get; set; }
}