@inherits SingleValueChangerBase

<div class="@Class" style="@Style">
    <Card>
        <CardBody >
            <CardTitle>
                <div class="d-flex align-items-center fs-6">
                    <Icon Name="IconName.TextLeft" />
                    <span class="ms-1">Описание</span>
                </div>
            </CardTitle>
            <div class="d-flex flex-column">
                @if (EditMode)
                {
                    <textarea @ref="Input" @bind="Description" @onfocusout="ToggleEditMode"
                        class="form-control"
                        style="height: 100%; resize:none; min-height:150px;" />
                }
                else
                {
                    if (string.IsNullOrEmpty(Description))
                    {
                        <span @onclick="ToggleEditMode" class="text-secondary">Описание пусто</span>
                    }
                    else
                    {
                        <span @onclick="ToggleEditMode">@Description</span>
                    }
                }
            </div>
        </CardBody>
    </Card>
</div>

@code {
    private string? description;

    [Parameter] 
#pragma warning disable BL0007
    public string? Description
#pragma warning restore BL0007
    {
        get => description;
        set
        {
            if (description != value)
            {
                description = value;
                DescriptionChanged.InvokeAsync(description).Forget();
            }
        }
    }

    [Parameter] public EventCallback<string?> DescriptionChanged { get; set; }
}