
<div class="flex font-bold text-sm gap-2 justify-center">
    <span>@(Start?.ToShortDateString() ?? "???")</span>
    <span>−</span>
    <span>@(End?.ToShortDateString() ?? "???")</span>
</div>

@code {
    [Parameter] public DateTime? Start { get; set; }
    [Parameter] public DateTime? End { get; set; }
}
