@using System.ComponentModel.DataAnnotations

@inherits SingleValueChangerBase<string>

<div class="d-flex flex-row w-100 align-items-center @Class" style="@Style">
    <div class="col">
        @if (EditMode)
        {
            <FluentTextField @ref="Input" style="font-size: 20px; font-weight: 500;" @onfocusout="ToggleEditMode"
                @bind-Value="Title" class="p-0 w-100 form-control" id="Title" />
        }
        else
        {
            <span style="font-size: 20px; font-weight: 500;" @onclick="ToggleEditMode" class="py-1">@Title</span>
        }
    </div>
</div>

@code {
    private string title = string.Empty;

    [Parameter]
#pragma warning disable BL0007
    public string Title
#pragma warning restore BL0007
    {
        get => title;
        set
        {
            if (title != value)
            {
                title = value;
                TitleChanged.InvokeAsync(value).Forget();
            }
        }
    }

    [Parameter] public EventCallback<string?> TitleChanged { get; set; }

    protected override bool PreventToggling()
    {
        return string.IsNullOrEmpty(Title);
    }
}
