@inherits OffcanvasBase

<div class="offcanvas @DelayedShow @CssPlacement @Class" style="@Style @($"width: {Width}px;")" tabindex="-1" id="offcanvasWithBackdrop" >
    @if (ShowCloseBtn) 
    {
        <div class="position-absolute clickable w-100 closer" style="@CloseBtnRadiusStyle" 
            @onclick="async () => await CloseAsync()" >
            @if (Placement == MyOffcanvasPlacement.Start)
            {
                <Icon class="d-flex justify-content-end p-1" Name="IconName.ArrowLeftCircle" />
            }
            else
            {
                <Icon class="p-1" Name="IconName.ArrowRightCircle" />
            }
        </div>;
    }
    <div style="overflow-y: auto; overflow-x: hidden;" class="mt-2">
        @ChildContent
    </div>
</div>
<div class="offcanvas-backdrop fade @DelayedShow" style="z-index: 2;" 
    @onclick="async () => await CloseAsync(ModalResult.Cancel())"></div>
