@using Onlyoffice.Api.Models
@using Onlyoffice.Api.Validations

@inherits AddEditModalBase<OnlyofficeTask, TaskUpdateData>

@using Offcanvas = Cardmngr.Components.Modals.MyBlazored.Offcanvas

@if (buffer is { })
{
    <Cardmngr.Components.Modals.MyBlazored.Offcanvas Placement="MyOffcanvasPlacement.End" Class="my-offcanvas my-offcanvas-right" @ref="currentModal">
        <EditForm Model="buffer" OnValidSubmit="SubmitAsync" >
            <FluentValidationValidator ValidatorType="@(typeof(TaskUpdateDataValidator))" />
            <OffcanvasHeader Class="py-0" Style="padding-top: 20px !important;">
                <TitleChanger @bind-Title="buffer.Title" />
            </OffcanvasHeader>
            <ValidationMessage For="() => buffer.Title" class="ms-3 validation-msg" />
            <OffcanvasBody Class="d-flex flex-column form-group">
                <TaskPriorityChanger Task="buffer" Disabled="@(!CanEdit)" />
                <Card class="p-1 mt-2">
                    <DateChanger Title="Дата начала:"
                        EmptyText="Не установлен" @bind-Date="buffer.StartDate" />
                </Card>
                <Card class="p-1 mt-2">
                    <DateChanger Title="Крайний срок" InputId="Deadline"
                        EmptyText="Не установлен" @bind-Date="buffer.Deadline" />
                    <ValidationMessage For="() => buffer.Deadline" class="validation-msg" />
                </Card>
                <div class="pt-2">
                    <DescriptionChanger @bind-Description="buffer.Description" />
                </div>                
                <CascadingValue Value="State" IsFixed="true">
                    <div class="pb-2 pt-2">
                        <TaskResponsibles Task="buffer" Disabled="!CanEdit" />
                    </div>
                    <div class="pb-2">
                        <TaskMilestone Disabled="!CanEdit" Task="buffer" />
                    </div>
                    @if (!IsAdd)
                    {                        
                        <CascadingValue Value="Model" IsFixed="true">
                            <TaskSubtasks />
                        </CascadingValue>
                    }
                </CascadingValue>
                <div class="row pt-2 d-flex justify-content-end">
                    <div class="d-flex flex-row">
                        <Button Type="ButtonType.Submit" Size="Size.Small" 
                            Disabled="!CanEdit"
                            Color="ButtonColor.Success" Outline="true">
                            @SubmitText
                        </Button>
                        @if(!IsAdd)
                        {
                            <Button class="ms-2" @onclick="DeleteAsync" 
                                Size="Size.Small" Color="ButtonColor.Danger" 
                                Outline="true" Disabled="!Model.CanDelete" >
                                Удалить
                            </Button>
                        }
                    </div>
                </div>
            </OffcanvasBody>
        </EditForm>
    </Cardmngr.Components.Modals.MyBlazored.Offcanvas>
}