@page "/all-projects"
@attribute [Authorize]

@using Cardmngr.Components.ProjectAggregate.Dashboard

<PageTitle>Проекты</PageTitle>

<div class="flex flex-col p-2 h-full" style="overflow-y: auto; overflow-x: hidden;">
    @* <CascadingValue Value="userId" Name="UserId" IsFixed >
        <div class="flex flex-col h-full overflow-x-hidden overflow-y-auto gap-2" >
            @if (allProjects.Count != 0)
            {
                foreach (var project in allProjects)
                {                    
                    <StaticProjectState @key="project.ProjectInfo.Id" ViewModel="project" />
                }
            }
            else
            {
                <div class="flex justify-center">
                    <i class="w-full mx-5">Список пуст</i>
                </div>
            }
        </div>
    </CascadingValue> *@
    <ProjectGantt @ref="projectGantt" GetItems="GetGanttChartItems" />
</div>
@* <div class="absolute bottom-0" style="right: 0; margin-bottom: 60px !important; margin-right: 5px;">
    <DashboardWatchManager Projects="allProjects.Select(x => x.ProjectInfo)" />
</div> *@
