@page "/all-projects"

@using Cardmngr.Components.TaskAggregate
@using Shared.Project

@inherits AuthorizedPage

<PageTitle>Проекты</PageTitle>

@if (initialized)
{
    <AuthorizeView>
        <div class="d-flex flex-column p-2" style="overflow-y: auto; overflow-x: hidden;">
            <CascadingValue Value="IdOnInitialization" Name="UserId" IsFixed="true" >
                <div style="height: 900px; overflow-y:auto; overflow-x:hidden">
                    <Virtualize Items="allProjects" Context="project">
                        <ItemContent>
                            <div class="mb-2" @key="project.ProjectInfo.Id" >
                                <StaticProjectState ViewModel="project"  />
                            </div>
                        </ItemContent>
                        <EmptyContent>
                            <div class="d-flex justify-content-center">
                                <Badge class="w-100 mx-5" Color="BadgeColor.Light"><i>Список пуст</i></Badge>
                            </div>
                        </EmptyContent>
                    </Virtualize>
                </div>
            </CascadingValue>
        </div>
    </AuthorizeView>
}
else
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
            <Spinner />
            <span class="ms-2">Загрузка...</span>
        </div>
    </div>
}
