@page "/all-projects"

@using Cardmngr.Components.TaskAggregate
@using Shared.Project
@using Cardmngr.Components.ProjectAggregate.Dashboard

@inherits AuthorizedPage

<PageTitle>Проекты</PageTitle>

@if (initialized)
{
    <AuthorizeView>
        <div class="d-flex flex-column p-2" style="overflow-y: auto; overflow-x: hidden;">
            <CascadingValue Value="IdOnInitialization" Name="UserId" IsFixed="true" >
                <div style="height: 100%; overflow-y:auto; overflow-x:hidden">
                    <Virtualize Items="allProjects" Context="project">
                        <ItemContent>
                            <div class="mb-2" @key="project.ProjectInfo.Id" >
                                <StaticProjectState ViewModel="project"  />
                            </div>
                        </ItemContent>
                        <EmptyContent>
                            <div class="d-flex justify-content-center">
                                <FluentBadge class="w-100 mx-5"><i>Список пуст</i></FluentBadge>
                            </div>
                        </EmptyContent>
                    </Virtualize>
                </div>
            </CascadingValue>            
        </div>
        <div class="position-absolute bottom-0" style="right: 0; margin-bottom: 60px !important; margin-right: 45px;">
            <DashboardWatchManager Projects="allProjects.Select(x => x.ProjectInfo)" />
        </div>
    </AuthorizeView>
}
else
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
            <FluentProgressRing />
            <span class="ms-2">Загрузка...</span>
        </div>
    </div>
}
