@page "/feedback-board"
@inherits AuthorizedPage

<PageTitle>Обратная связь</PageTitle>

<div class="row d-flex position-relative mb-5 detal-background" style="flex: auto !important;">        
    <div class="col d-flex flex-column">
        <FeedbacksState>
            <FeedbackBoard></FeedbackBoard>
        </FeedbacksState>
    </div>
    <div class="col" style="max-width: 350px; text-align: justify;">
        <p>
            Эта доска предназначена для сбора предложений по улучшению
            или созданию новых возможностей программы.
        </p>
        <p>
            Также, если Вы нашли ошибку в программе, опишите ее здесь: укажите, что
            произошло, где она возникла, и какие Ваши действия ее вызвали.
        </p>
        <Callout Heading="Примечание">
            Перед созданием предложения убедитесь нет ли похожей карточки.
        </Callout>
    </div>
</div>
