@page "/feedback-board"

@attribute [Authorize]

<PageTitle>Обратная связь</PageTitle>

<AuthorizeView>
    <div class="row d-flex position-relative detal-background h-100 p-2" >        
        <div class="col d-flex flex-column">
            <FeedbacksState>
                <FeedbackBoard></FeedbackBoard>
            </FeedbacksState>
        </div>
        <div class="col" style="max-width: 553px; text-align: justify;">
            <p>
                Эта доска предназначена для сбора предложений по улучшению
                или созданию новых возможностей программы.
            </p>
            <p>
                Также, если Вы нашли ошибку в программе, опишите ее здесь: укажите, что
                произошло, где она возникла, и какие Ваши действия ее вызвали.
            </p>
            <FluentMessageBar Title="Примечание" Intent="@MessageIntent.Warning" AllowDismiss="false" >
                Перед созданием предложения убедитесь нет ли похожей карточки.
            </FluentMessageBar>
        </div>
    </div>
</AuthorizeView>
