@page "/"
@page "/home"

@inherits AuthorizedPage

@inject IProjectClient ProjectClient
@inject ProjectSummaryService ProjectSummaryService

<PageTitle>Главная</PageTitle>

<AuthorizeView>
    <div class="h-100 w-100 detal-background" >
        <div class="row w-100 h-100">
            <div class="col d-flex align-items-end">
                <FluentAnchor Style="margin-bottom: 4em;" Appearance="Appearance.Lightweight"
                    Href="feedback-board" IconStart="@(new Icons.Filled.Size20.Lightbulb())">
                    <span class="fs-5">Пожелания и предложения</span>
                </FluentAnchor>
            </div>
            <div class="col d-flex align-items-center">
                <div class="row w-100">
                    <div class="col">
                        <UserProjectsView UserProjects="userProjects" MaxHeight="500" />
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</AuthorizeView>

@code {
    private List<Project>? userProjects;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (IsAuthenticated)
        {
            userProjects = await ProjectClient
                .GetSelfProjectsAsync()
                .OrderByDescending(x => ProjectSummaryService.FollowedProjectIds.Contains(x.Id))
                .ToListAsync();
        }
    }
}