@page "/"

@inherits AuthorizedPage

@inject IProjectApi ProjectApi

<PageTitle>Главная</PageTitle>

<div class="container d-flex align-items-center justify-content-center detal-background" style="min-height: 90vh;">
    <div class="row">
        <div class="col">
            <AuthorizeView>
                <UserProjectsView UserProjects="userProjects" Class="bg-shadow" MaxHeight="500" />                
            </AuthorizeView>
        </div>
        <div class="col-md-1 d-flex align-items-center">
            <div class="line" />
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <div class="text-dark">
                <Tool Text="Проект" Disabled="true" IconName="IconName.JournalText" TooltipTitle="Создать новый проект" TooltipPlacement="TooltipPlacement.Right"/>
                <Tool Text="Веха" Disabled="true" IconName="IconName.Star" TooltipTitle="Создать новую веху" TooltipPlacement="TooltipPlacement.Right"/>
                <Tool Text="Задача" Disabled="true" IconName="IconName.Check2Circle" TooltipTitle="Создать новую задачу" TooltipPlacement="TooltipPlacement.Right"/>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Project>? userProjects;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (IsAuthenticated)
        {
            @* userProjects = await ProjectApi.GetUserProjectsAsync().ToListAsync(); *@
        }
    }
}