@page "/project/board"

@attribute [Authorize]

<PageTitle>Проект</PageTitle>

@if (ProjectId is not null)
{
    <MutableProjectState Id="ProjectId.Value" >
        <div class="d-flex flex-column h-100 p-3">
            <div class="mb-2">
                <ProjectBoardHeader></ProjectBoardHeader>
            </div>
            <div class="d-flex flex-column h-100">
                <ProjectBoard></ProjectBoard>
            </div>
        </div>
    </MutableProjectState>
}

@code {
    [SupplyParameterFromQuery] public int? ProjectId { get; set; }
}