@page "/self-tasks"

@using Cardmngr.Components.TaskAggregate

@inherits AuthorizedPage

@if (IsAuthenticated)
{
    <div>
        @foreach (var projectVm in projectVms)
        {
            <StaticProjectState State="projectVm" >
                <div class="d-flex flex-column position-relative mb-5" style="flex: auto !important;">
                    <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
                        <ProjectBoard></ProjectBoard>
                    </div>
                </div>
            </StaticProjectState>
        }
    </div>
}
