@page "/project/gantt"

@using Cardmngr.Components.ProjectAggregate.Components
@using Cardmngr.Components.ProjectAggregate.Filter
@using Cardmngr.Exceptions
@using Cardmngr.Shared.Utils.Filter
@using KolBlazor.Components.Charts.Data

@inherits ProjectPage

<PageTitle>Проект</PageTitle>

<MutableProjectState @ref="@_projectState" 
                     Id="@ProjectId.GetValueOrDefault(-1)" 
                     AutoRefresh="false"
                     SilentTagInitialized="true" >
    <ProjectStateNotifier />
    <div class="flex flex-col h-full p-3">
        <div class="mb-2">
            <div class="flex gap-2 items-center">
                <OpenTaskStatusSwitcher />
                <FluentSpacer />
                <ProjectTextFieldFilterTool />
                <ProjectOptions />
            </div>
        </div>
        <div style="height: calc(100% - 32px);">
            <ProjectGantt ItemsCreator="_ganttItemsCreator"     
                          ItemExpandToggled="OnItemExpandToggled" />
        </div>
    </div>
</MutableProjectState>

@code {
    private readonly GanttItemsCreator _ganttItemsCreator = new([]);
    private IFilterableProjectState _projectState = null!;

    private void OnItemExpandToggled(GanttChartItem item)
    {
        if (item.Data is Milestone milestone)
        {
            _ganttItemsCreator.MilestoneExpanded[milestone.Id] = item.IsExpanded;
        }
    }
}