:root {
    --body-font: "YSText", sans-serif !important;
}

@font-face {
    font-family: "JetBrainsMono", monospace;
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
         url("/fonts/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
    font-family: "YSText", sans-serif;
    src: url("/fonts/YSText-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "YSText", sans-serif;
    src: url("/fonts/YSText-Bold.woff2") format("woff2");
    font-weight: bold;
}