:root {
    --main-board-bg: var(--neutral-layer-4);
    --col-title-color: var(--neutral-foreground-rest);
    --boarder-color: var(--fill-color);
    --main-col-bg: var(--neutral-layer-2);
    --main-card-bg: var(--neutral-layer-1);
    --main-responsibles-bg: var(--neutral-layer-2);
}

.my-modal {
    background-color: var(--neutral-layer-2) !important;
    padding: 20px;
    border-radius: 10px;
}

.siteheader {
    background-color: var(--neutral-layer-4) !important;
    border-bottom: calc(var(--stroke-width)* 2px) solid var(--accent-fill-rest);
    margin-bottom: 0 !important;
}

.content {
    display: flex;
    height: 100dvh;
    background-color: var(--neutral-layer-4);
}

article {
    padding: 1rem;
    border-right: 1px solid var(--neutral-stroke-divider-rest);
    margin: 0 0;
    overflow-x: hidden;
    transition: all 300ms ease-in-out;
    width: 100%;
}

ul {
    margin-bottom: 4px;
}

.clickable {
    cursor: pointer;
}

#blazor-error-ui{
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;}
    
   #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;}

.bg-main {
    background-color: var(--accent-fill-rest);
}

.bg-shadow {
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.hide-max-140 {
    max-width: 200px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--boarder-color);
    border-radius: 20px;
}

.scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.my-offcanvas {
    background-color: var(--neutral-layer-2);
}

.my-offcanvas-right {
    border-radius: 7px 0px 0px 7px;
}

.my-offcanvas-left {
    border-radius: 0px 7px 7px 0px;
}

.validation-msg {
    color: red;
    font-size: 14px;
}

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.text-vertical-1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -1.75px;
}

.max-height-100 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
 }

.desc-text {
    white-space: pre-wrap;
}