@tailwind base;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold mb-2;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    body {
        @apply text-sm bg-layer-4;
    }

    ol, ul {
        @apply pl-6 py-2;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    blockquote {
        @apply border-l-4 text-info px-4;
    }

    pre {
        @apply p-3 rounded-lg;
    }

    p {
        @apply mb-2;
    }

    table {
        @apply w-full my-3 rounded-lg border border-disabled border-spacing-0;
    }

    th, td {
        @apply p-3 text-left;
    }

    tr {
        @apply even:bg-neutral-fill-hover;
    }

    th {
        @apply text-accent font-bold;
    }
}

@tailwind components;
@tailwind utilities;

:root {
    --main-board-bg: var(--neutral-layer-4);
    --col-title-color: var(--neutral-foreground-rest);
    --boarder-color: var(--fill-color);
    --main-col-bg: var(--neutral-layer-2);
    --main-card-bg: var(--neutral-layer-1);
    --main-responsibles-bg: var(--neutral-layer-2);

    --color1: 5, 12, 156;
    --color2: 53, 114, 239;
    --color3: 58, 190, 249;
    --color4: 167, 230, 255;
    --color5: 116, 226, 145;
    --circle-size: 80%;
    --blending: hard-light;
    --gantt-weekday-bg: var(--neutral-layer-4) !important;
    --gantt-weekend-bg: var(--neutral-layer-3) !important;
    --today-bg: color-mix(in srgb, var(--accent-fill-rest), transparent 15%) !important;
    --gantt-hover-bg: #71717160 !important;
    --gantt-odd-item-bg: color-mix(in srgb, var(--neutral-fill-inverse-rest), transparent 95%) !important;
    --gantt-border-color: color-mix(in srgb, var(--neutral-fill-inverse-rest), transparent 90%) !important;
    --gantt-arrow-color: var(--accent-fill-rest) !important;
    --separator-color: var(--neutral-layer-3) !important;
}

body {
    color: var(--neutral-foreground-rest);
}

.my-modal {
    @apply h-fit rounded-lg !bg-layer-2 p-5 w-[450px];
}

.bm-content {
    @apply h-full;
}

.siteheader {
    @apply !bg-layer-4 mb-0;
    border-bottom: calc(var(--stroke-width)* 2px) solid var(--accent-fill-rest);
}

.content {
    @apply flex h-full bg-layer-4;
}

article {
    @apply w-full transition duration-300 p-4 overflow-x-hidden m-0;
    border-right: 1px solid var(--neutral-stroke-divider-rest);
}

#blazor-error-ui{
    background: rgb(136, 136, 16);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;}
    
   #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--boarder-color);
    border-radius: 20px;
}

.scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.my-offcanvas {
    @apply bg-layer-2;
}

.my-offcanvas-right {
    @apply rounded-l-lg;
}

.my-offcanvas-left {
    @apply rounded-r-lg;
}

.offcanvas.show {
    transform: none;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%);
}
.offcanvas-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
}
.offcanvas-header {
    @apply flex justify-between p-4;
}

.offcanvas-body {
    @apply flex-grow p-4 overflow-y-auto;
}

.offcanvas {
    transition: transform .3s ease-in-out;
    @apply fixed bottom-0 z-[1045] flex flex-col max-w-full bg-clip-padding outline-0;
}

.offcanvas-backdrop.show {
    @apply !opacity-50;
}
.offcanvas-backdrop.fade {
    @apply opacity-0;
}
.offcanvas-backdrop {
    @apply fixed top-0 left-0 z-[1040] bg-black;
    width: 100vw;
    height: 100vh;
}
.fade {
    transition: opacity .15s linear;
}

.validation-msg {
    @apply text-red-700 text-sm;
}

.max-height-100 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

.max-desc-h {
    max-height: 100px;
    overflow: hidden;
}

.ellipsis-truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    max-width: 200px;
}

.popup-filter-tool {
    @apply w-[300px] mt-1 rounded-md;
}

.popup-filter-tool .narrow-tip {
    border-bottom: 1px solid var(--neutral-layer-2); 
    padding-bottom: 5px;
}

.popup-proj-nav {
    width: 700px;
    height: 400px; 
    background-color: var(--neutral-layer-3) !important;
    overflow: auto;
    margin-top: 1.5rem;
}

.red-border {
    border-top: 5px solid var(--error) !important;
}

.warning-border {
    border-top: 5px solid var(--warning) !important;
}

/* loading svg */

@keyframes colorAnimation {
  0% {
    fill: #7BD3EA;
  }
  25% {
    fill: #A1EEBD;
  }
  50% {
    fill: #F6F7C4;
  }
  75% {
    fill: #F6D6D6;
  }
  100% {
    fill: #7BD3EA;
  }
}

.svg-element {
  animation: colorAnimation 3s linear infinite;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.my-popover {
    border-radius: 5px;
    border: 1px solid var(--neutral-stroke-divider-rest);
}

.mouse-hover:hover {
    cursor: pointer;
    background-color: var(--neutral-fill-hover);
}

.mouse-hover:hover:active {
    background-color: initial;
}

/* markdown */

.editor-statusbar {
    display: none;
}

.editor-toolbar {
    border-top: 1px solid var(--neutral-stroke-control-active) !important;
    border-left: 1px solid var(--neutral-stroke-control-active) !important;
    border-right: 1px solid var(--neutral-stroke-control-active) !important;

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.editor-toolbar button.active,.editor-toolbar button:hover {
    background: var(--neutral-layer-1) !important;
    border-color: var(--neutral-stroke-control-active) !important;
}

.EasyMDEContainer .CodeMirror {
    border: 1px solid var(--neutral-stroke-control-active) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding-bottom: 45px !important;
}

.editor-toolbar.fullscreen {
    background: var(--neutral-layer-2) !important;
}

.CodeMirror {
    background: var(--neutral-layer-2) !important;
    color: var(--neutral-foreground-rest) !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--neutral-foreground-rest) !important;
}

.cm-s-easymde .cm-header-1 {
    @apply !text-3xl;
}

.cm-s-easymde .cm-header-2 {
    @apply !text-2xl;
}

.cm-s-easymde .cm-header-3 {
    @apply !text-xl;
}

.cm-s-easymde .cm-header-4 {
    @apply !text-lg;
}

.cm-s-easymde .cm-header-5 {
    @apply !text-base;
}

.cm-s-easymde .cm-header-6 {
    @apply !text-sm;
}

pre.snippet {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 2px);
    overflow-y: auto;
}

.hljs {
    background-color: var(--neutral-layer-2);
    tab-size: 2em;
}

.hljs-copy-button {
    border-color: var(--neutral-fill-strong-rest);
    color: var(--accent-fill-rest);
    top: 0.4rem;
}

    .hljs-copy-button:hover {
        border-color: var(--neutral-fill-strong-hover);
    }

    .hljs-copy-button:active {
        border-color: var(--neutral-fill-strong-active);
    }

.hljs-copy {
    cursor: pointer;
    border-color: var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    color: var(--accent-fill-rest);
    background-color: var(--neutral-layer-2);
    padding-left: 5px;
    padding-right: 5px;
    top: 0.4rem;
}

.hljs-copy {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    right: 1em;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

.hljs-copy-wrapper {
    position: relative;
    overflow: hidden
}

    .hljs-copy-wrapper:hover .hljs-copy, .hljs-copy:focus {
        transform: translateX(0);
    }

table {
    border-collapse: initial;
}

ul.contains-task-list {
    @apply list-none pl-3;
}

    li.task-list-item {
        @apply items-center flex gap-1;
    }

#kol-separator {
    @apply transition-colors duration-300 hover:!bg-layer-2;
}

.gantt-task-custom-done .group {
    @apply !transition-opacity !duration-150 opacity-50 hover:opacity-100;
}

.gantt-task-custom-deadline {
    background-color: color-mix(in srgb, var(--error), transparent 80%);
    transition: background-color 0.15s ease-in-out !important;
}

.gantt-task-custom-deadline:hover {
    background-color: color-mix(in srgb, var(--error), transparent 60%);
}

.gantt-task-custom-warning {
    background-color: color-mix(in srgb, var(--warning), transparent 80%);
    transition: background-color 0.15s ease-in-out !important;
}

.gantt-task-custom-warning:hover {
    background-color: color-mix(in srgb, var(--warning), transparent 60%);
}