@using Cardmngr.Shared.Utils.Filter

@if (filterItems.Count != 0)
{
    foreach (var item in filterItems)
    {
        <div class="row mb-1">
            <div class="col">
                <MilestoneLabel Milestone="item.Milestone" />
            </div>
            <div class="col flex justify-end">
                <InputCheckbox class="clickable form-check-input" 
                    @bind-Value="item.Selected" 
                    @onclick="@(() => ToggleMilestone(item.Milestone))" />
            </div>
        </div>
    }
}
else
{
    <div class="text-muted flex justify-center">
        В проекте нет вех
    </div>
}

@code {
    private List<MilestoneFilterItem> filterItems = [];

    [CascadingParameter] IFilterableProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        filterItems = [.. State.Milestones.Select(x => new MilestoneFilterItem(x))];
    }

    void ToggleMilestone(Milestone milestone)
    {
        State.TaskFilter
            .OfType<MilestoneTaskFilter>()
            .Toggle(milestone);
    }

    private class MilestoneFilterItem(Milestone milestone)
    {
        public Milestone Milestone { get; set; } = milestone;
        public bool Selected { get; set; }
    }
}
