
<div id="project-options" 
    @onclick=@(() => _popoverOpen = !_popoverOpen)
    class="p-1 hover:bg-neutral-fill-hover rounded-md transition-colors cursor-pointer flex items-center">
    <FluentIcon Value="@(new Icons.Filled.Size20.Options())" />
</div>

<Popover @bind-Open="@_popoverOpen" 
    AnchorId="project-options"
    Class="mt-1 p-0 w-52" >
    <FluentNavMenu>
        <FluentNavLink Icon="@(new Icons.Regular.Size16.GridKanban())" 
            Href=@($"project/board?ProjectId={State.Project.Id}") class="text-xs">
            Доска задач
        </FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size16.GanttChart())" 
            Href=@($"project/gantt?ProjectId={State.Project.Id}") class="text-xs">
            Таймлайн
        </FluentNavLink>
    </FluentNavMenu>
</Popover>
