
<div id="project-options" 
    @onclick=@(() => _popoverOpen = !_popoverOpen)
    class="p-1 hover:bg-neutral-fill-hover rounded-md transition-colors cursor-pointer flex items-center">
    <FluentIcon Value="@(new Icons.Filled.Size20.Options())" />
</div>

<FluentMenu @bind-Open="@_popoverOpen" 
    Anchor="project-options"
    Class="mt-1" >
    <FluentMenuItem>
        <span slot="start" class="rounded-md border border-warning p-1">
            <FluentIcon Value="@(new Icons.Regular.Size16.GridKanban())" />
        </span>
        <span class="text-xs">Доска задач</span>
    </FluentMenuItem>
    <FluentMenuItem>
        <span slot="start" class="rounded-md border border-warning p-1">
            <FluentIcon Value="@(new Icons.Regular.Size16.GanttChart())" />
        </span>
        <span class="text-xs">Таймлайн</span>
    </FluentMenuItem>
</FluentMenu>
