<Cardmngr.Components.ProjectAggregate.Dashboard.ProjectDashboardHeader class="p-3 fs-2" style="line-height: normal;" />

<div class="project-summary-info" style="height: 94%;">
    @if (_deadlineoutSoonTasks.Count > 0 || _deadlineoutTasks.Count > 0)
    {
        <div class="h-full">
            <div class="row items-center justify-center h-full">
                <div @ref="_deadlineoutTasksRef" class=@(_deadlineoutTasks.Any() ? "task-column col scrollbar-none" : "") style="overflow-x: hidden;" >
                    @foreach (var task in _deadlineoutTasks)
                    {
                        <DashboardTaskCard Task="task" />
                    }
                </div>
                <div @ref="_deadlineoutSoonTasksRef" class=@(_deadlineoutSoonTasks.Any() ? "task-column col scrollbar-none" : "") style="overflow-x: hidden;" >
                    @foreach (var task in _deadlineoutSoonTasks)
                    {
                        <DashboardTaskCard Task="task" />
                    }
                </div>
            </div>
            <div class="row absolute w-full" style="bottom: 60px; left: 0;">
                @if (_deadlineoutTasks.Count > 0)
                {
                    <div class="col flex justify-center text-error">
                        @renderInscription("ПРОСРОЧЕНО")
                    </div>
                }
                @if (_deadlineoutSoonTasks.Count > 0)
                {
                    <div style="color: @CardmngrColors.Warning;" class="col flex justify-center">
                        @renderInscription("СРОК СКОРО ИСТЕЧЕТ")
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="fs-1 font-bold" style="color: var(--neutral-layer-2);" >НЕТ ЗАДАЧ</div>
    }
</div>

@code {
    private RenderFragment<string> renderInscription = inscription =>
        @<div class="inscription">
            @inscription
        </div>;
}