<div class="progress-place">
    <div class="progress-indicator">
        <FluentProgressRing Width="50px" Value="Progress.Value" Max="Progress.Max" />
        <span class="ms-2">Получаем метки...</span>
        <span>Получено для @Progress.Value задач</span>
    </div>
</div>