<div class="d-flex gap-1 align-items-center">
    @foreach (var milestone in State.SelectedMilestones)
    {
        <MilestoneLabel Milestone="milestone" />
    }
</div>

@code {

    [CascadingParameter] IProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        State.SelectedMilestonesChanged += StateHasChanged;
    }
}