@using Cardmngr.Shared.Utils.Filter

<div class="flex gap-1 items-center">
    @foreach (var milestone in milestoneTaskFilter)
    {
        <MilestoneLabel Milestone="milestone" />
    }
</div>

@code {
    private MilestoneTaskFilter milestoneTaskFilter = null!;
    [CascadingParameter] IFilterableProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        milestoneTaskFilter = State.TaskFilter.OfType<MilestoneTaskFilter>();
    }
}