<Smooth ShowOnFirstRender >
    <KolBoardColumn
        CommonHeightByKey="CommonHeightByKey"
        Width="370"
        @key="Status.Id"
        ItemSpacing="10"
        TValue="OnlyofficeTask"
        Virtualized
        EstimateHeight="150"
        Overscan="5"
        CanItemDrag="@(x => x.CanEdit)"
        KeySelector="x => x.Id"
        Items="_tasks" 
        ShowDropPlaceholder
        DropPlaceholderDelay="TimeSpan.FromMilliseconds(250)"
        OnDropItem="@(async task => await OnTaskDropped(task))" >
        
        <HeaderTemplate Context="isCollapsed">
            <TaskStatusHeader TaskStatus="@Status" />
            @if (State is IFilterableProjectState { TaskFilter.Filters.Count: > 0 })
            {
                <div class="mt-1 flex justify-center font-light" style="font-size: small;">
                    @_tasks.Count результатов
                </div>
            }
        </HeaderTemplate>
        
        <ItemTemplate>
            <TaskCard Task="context" />
        </ItemTemplate>

        <DropPlaceholderTemplate>
            <div class="card-placeholder"></div>
        </DropPlaceholderTemplate>
    </KolBoardColumn>
</Smooth>