@implements IDisposable

<div style="opacity: @_opacity;" class="smooth-appear">
    <KolBoardColumn @ref="boardColumnComponent"
        Width="365"
        @key="Status.Id"
        CanCollapse="true" 
        ItemSpacing="10"
        Style="height: 97%;"
        TValue="OnlyofficeTask"
        Virtualized
        EstimateHeight="150"
        Overscan="5"
        KeySelector="x => x.Id"
        Items="GetTasksForStatus(State, Status)" 
        OnDropItem="@(async task => await OnChangeTaskStatus(task, Status))" >
        
        <HeaderTemplate Context="isCollapsed">
            <TaskStatusHeader IsCollapsed="@isCollapsed" TaskStatus="@Status" />
            @if (State.TaskFilter.Filters.Any())
            {
                <div class="mt-1 d-flex justify-content-center fw-light" style="font-size: small;">
                    @GetTasksForStatus(State, Status).Count результатов
                </div>
            }
        </HeaderTemplate>
    </KolBoardColumn>
</div>