<Card >
    <CardBody class="d-flex flex-column">
        <CardTitle>
            <div class="row d-flex align-items-center">
                <div class="col"> 
                    <Icon Name="IconName.Star" />
                    Веха
                </div>
                <div class="col d-flex justify-content-end">
                    <Tool Disabled="!Task.CanEdit" IconName="IconName.Pencil" IconSize="IconSize.x6"
                        TooltipTitle="Изменить" OnClick="ShowSelectionModalAsync" />
                    <div class="ms-3">
                        <Tool Disabled="!Task.CanEdit || Task.Milestone == null" IconName="IconName.X" IconSize="IconSize.x6"
                            TooltipTitle="Удалить" OnClick="DeleteMilestone" />
                    </div>
                </div>
            </div>
        </CardTitle>
        @if (Task.Milestone is { })
        {
            <div>
                <MilestoneLabel Milestone="Task.Milestone" />
            </div>
        }
        else
        {
            <span class="text-secondary">Вне вехи</span>
        }
    </CardBody>
</Card>

@code {

    [CascadingParameter(Name = "MiddleModal")] ModalOptions ModalOptions { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;

    [Parameter] public TaskModel Task { get; set; } = null!;

    private async Task ShowSelectionModalAsync()
    {
        var parameters = new ModalParameters
        {
            { "Items", Task.ProjectOwner.Milestones },
            { "ItemRender", RenderMilestone }
        };

        var res = await Modal.Show<SelectionModal<MilestoneModel>>("Выберите веху", parameters, ModalOptions).Result;

        if (res.Confirmed)
        {
            var milestone = (MilestoneModel)res.Data!;
            Task.Milestone = milestone;
        }
    }

    private void DeleteMilestone()
    {
        Task.Milestone = null;
    }

    private static RenderFragment<MilestoneModel> RenderMilestone = milestone =>
        @<div class="py-1 px-1 d-flex align-items-center">
            <Badge Color="BadgeColor.Warning" IndicatorType="BadgeIndicatorType.RoundedPill"
                style="max-width: 425px; overflow: hidden;">
                @milestone.Title
            </Badge>
        </div>;
}
