
@using KolBlazor.Components.Virtualization
@inherits KolComponentBase

<div class="flex flex-col gap-3 h-full @Class" style="@Style" @onclick="HandleClick">
    @if (_loading)
    {
        <Loading />
    }

    @if (_feedsByProject.Count != 0)
    {
        <CascadingValue IsFixed Value="_feedUsers" >
            @foreach (var feeds in _feedsByProject)
            {
                <FeedProjectModule @key="feeds.Key" Feeds="feeds" Name="@feeds.Key" />
            }
        </CascadingValue>
    }
    else @if (!_loading)
    {
        <div class="flex flex-col justify-center items-center w-full h-32" >
            <h2 class="font-bold text-lg">Здесь пока ничего нет</h2>
            <span style="color: @CardmngrColors.Info;">
                Вы можете настроить фильтр, чтобы увидеть больше.
            </span>
        </div>
    }
</div>
