.module-card .header {
    color: var(--info); 
    display: flex;
    gap: 5px; 
    align-items: center; 
}

.module-card .header .hide-button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.module-card:hover .header .hide-button {
    opacity: 1;
}