.connected-users {
    display: flex;
    backdrop-filter: blur(10px);
    background-color: var(--neutral-fill-layer-rest);
    opacity: 0.8;
    border-radius: 8px;
    gap: 3px;
}

.collapseble-items {
    transition: max-width 0.5s ease-in-out, min-width 0.5s ease-in-out;
}

.collapseble-items::-webkit-scrollbar {
    height: 3px;
}