@if (userInfos.Any())
{    
    <div class="flex items-center">
        <FluentIcon class="clickable" title="Сейчас на странице" Value="@(isCollapsed ? closed : opened)"
            OnClick="@(() => isCollapsed = !isCollapsed)" />
        <div class="connected-users py-0 px-1 collapsable-items" style="@MaxWidth @StyleScroll">
            @foreach (var user in userInfos)
            {
                <UserAvatar User="user" ShowTooltip="true" />
            }
        </div>
    </div>
}

@code {
    readonly Icon opened = new Icons.Regular.Size16.ChevronRight();
    readonly Icon closed = new Icons.Regular.Size16.ChevronLeft();
}