@inherits KolComponentBase

<div class=@($"d-flex flex-column gap-3 {Class}") style="@Style" >
    <div class="d-flex align-items-center gap-2">
        <FluentIcon Value="@(new Icons.Filled.Size20.ClipboardBulletList())" />
        Ваши проекты
        <FluentSpacer />
        <FluentAnchor
            Href="/project/new"
            Style="padding: 5px !important;"
            Title="Создать проект" >
            <FluentIcon Value="@(new Icons.Regular.Size16.Add())" CustomColor="white" Color="Color.Custom"/>
        </FluentAnchor>
    </div>
    <div class="p-1 overflow-auto" style=@($"max-height: {MaxHeight}px; {Style}")>
        @if (UserProjects is not null && UserProjects.Any())
        { 
            @foreach (var proj in UserProjects)
            {
                <div class="py-1">
                    <ProjectReference Project="proj" />
                </div>
            }
        }
        else
        {
            <span>Вы не состоите ни в одном из проектов</span>
        }
    </div>
</div>
