@inherits KolComponentBase

<div class="flex flex-col gap-3 border-2 rounded-xl border-dashed p-3 @Class" style="border-color: var(--accent-fill-rest); @Style" >
    <div class="flex items-center gap-2">
        <FluentIcon Value="@(new Icons.Filled.Size20.ClipboardBulletList())" />
        Ваши проекты
        <FluentSpacer />
        <FluentAnchor
            Href="#"
            Style="padding: 5px !important;"
            Appearance="Appearance.Outline"
            Title="В разработке" >
            <FluentIcon Value="@(new Icons.Regular.Size16.Add())" Color="Color.Success"/>
        </FluentAnchor>
    </div>
    <div class="p-1 overflow-auto" style=@($"max-height: 100%; {Style}")>
        @if (UserProjects is not null && UserProjects.Any())
        { 
            @foreach (var proj in UserProjects)
            {
                <div class="py-1">
                    <ProjectReference Project="proj" />
                </div>
            }
        }
        else
        {
            <span>Вы не состоите ни в одном из проектов</span>
        }
    </div>
</div>
