
<div class="flex gap-1 items-center">
    <DateView Date="Start" 
              DateChanged="StartChanged"
              ReadOnly="StartReadOnly"
              NotShowYearIfCurrent="NotShowYearIfCurrent"
              DateRender="StartDateRender" />

    <FluentIcon Value="@(new Icons.Regular.Size12.ArrowRight())" Color="Color.FillInverse" />

    <DateView Date="End" 
              DateChanged="EndChanged" 
              ReadOnly="EndReadOnly"
              NotShowYearIfCurrent="NotShowYearIfCurrent"
              DateRender="EndDateRender" />
</div>
