.short-task {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: var(--neutral-fill-layer-rest);
    min-height: 80px;
    width: 100%;
    z-index: -2;
    position: relative;

    transition: filter 0.25s ease-in-out;
}

.short-task:hover {
    filter: brightness(0.9);
}

.info-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 999;
}

.bg-progress {
    background: #47977a;
    border-radius: 6px;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}