.board-column .item-container .item .task-card {
    font-size: small;
    cursor: pointer;
    background-color: var(--main-card-bg);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    min-height: 150px;
}

.board-column .task-card.dragged {
    opacity: 0.5;
}

.task-card .title {
    overflow-wrap: break-word;
    word-break: break-word;
}