.board-column .item-container .item .task-card {
    font-size: small;
    cursor: pointer;
    background-color: var(--main-card-bg);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .75rem;
    min-height: 150px;
}

.board-column .item-container .item .task-card:hover {
    background-color: var(--neutral-layer-1);
}

.task-card .title {
    overflow-wrap: break-word;
    word-break: break-word;
}

.board-column .task-card.dragged {
    opacity: 0.5;
}

.task-card .title {
    overflow-wrap: break-word;
    word-break: break-word;
}

.task-card .deadline-msg {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.task-card:hover .deadline-msg {
    opacity: 1;
}