@inherits LayoutComponentBase

@implements IDisposable

@inject NavigationManager NavigationManager

<FluentToastProvider />

<FluentLayout>
    <AuthorizeView>
        <Authorized>
            <Header></Header>
        </Authorized>
    </AuthorizeView>
    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent style="@CssPadding" >
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        <article>
                            @Body
                            <FluentTooltipProvider />
                        </article>
                    </div>
                    <FluentToastProvider MaxToastCount="10" />
                </ChildContent>
                <ErrorContent Context="ex">
                    <ErrorView Exception="ex" />
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

@code {
    [CascadingParameter] HeaderInteractionService InteractionService { get; set; } = null!;
    [CascadingParameter] protected Task<AuthenticationState> AuthState { get; set; } = null!;

    private string CssPadding => InteractionService.HeaderCollapsed ? "height: 100vh;" : "height: 100vh; padding-bottom: 3rem;";

    protected override async Task OnInitializedAsync()
    {
        InteractionService.HeaderCollapsedChanged += StateHasChanged;

        var user = (await AuthState.ConfigureAwait(false)).User;

        if (!user.Identity!.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
        }
    }

    public void Dispose()
    {
        InteractionService.HeaderCollapsedChanged -= StateHasChanged;
    }
}