@inherits KolComponentBase

<div class="@Class d-flex flex-column gap-1" style="@Style">
    @if(Label is { })
    {
        <span>@Label</span>
    }
    <div class="d-flex gap-1">
        <FluentDatePicker Disabled="Disabled" style="width: 125px;" DisabledDateFunc="DisableAfter"
            Placeholder="-" Value="Start" ValueChanged="StartChanged" />
        <FluentDatePicker Disabled="Disabled" style="width: 125px;" DisabledDateFunc="DisableBefore"
            Placeholder="-" Value="End" ValueChanged="EndChanged" />
    </div>
</div>

@code {

    [Parameter] public string? Label { get; set; }

    [Parameter] public bool Disabled { get; set; }
    
    [Parameter] public DateTime? Start { get; set; }
    [Parameter] public EventCallback<DateTime?> StartChanged { get; set; }

    [Parameter] public DateTime? End { get; set; }
    [Parameter] public EventCallback<DateTime?> EndChanged { get; set; }

    bool DisableBefore(DateTime date) => date < Start;
    bool DisableAfter(DateTime date) => date > End;
}
