<div class="flex flex-col font-bolder h-full" style="font-size: 20px;">
    <div style="height: 10%;" class="w-full">
        Выполнено
    </div>
    <div style="height: 90%; font-size: 96px;" class="w-full flex items-center justify-center">
        @Value
    </div>
</div>

@code {

    [CascadingParameter] IFilterableProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        State.TasksChanged += _ => StateHasChanged();
        State.TaskFilter.FilterChanged += StateHasChanged;
    }

    private double Value => State.CountClosedTasks();
}