<KolBoardColumn
    ItemSpacing="10"
    TValue="OnlyofficeTask"
    Virtualized
    CanItemDrag="_ => false"
    EstimateHeight="150"
    Overscan="5"
    Droppable="false"
    KeySelector="x => x.Id"
    Items="_tasks" >
    
    <HeaderTemplate>
        <div class="flex mb-2">
            <div style="font-size: 24px; border-radius: 7px; background-color: @Color.GetDesc(); color: white;" class="self-center p-1" >
                @_tasks.Count
            </div>
            <FluentSpacer />
            <span style="font-size: 22px;" class="self-center">@Header</span>
        </div>
    </HeaderTemplate>
    <ItemTemplate>
        <TaskCard Task="context" />
    </ItemTemplate>
    <EmptyTemplate>
        <DashboardSegment class="flex items-center justify-center fs-1 font-bold"
            style="color: var(--neutral-layer-4);">
            Нет задач
        </DashboardSegment>
    </EmptyTemplate>
</KolBoardColumn>
