<div class="d-flex flex-column fw-bolder h-100" style="font-size: 20px;">
    <div style="height: 10%;" class="w-100">
        Просрочено
    </div>
    <div style="height: 90%; font-size: 96px;" class="w-100 d-flex align-items-center justify-content-center">
        @($"{Value:0}")<span style="font-size: 40px;" class="mt-4">%</span>
    </div>
</div>

@code {
    [CascadingParameter] IFilterableProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        State.TasksChanged += _ => StateHasChanged();
        State.TaskFilter.FilterChanged += StateHasChanged;
    }

    private double Value => State.FilteredTasks().Count() != 0 
        ? (State.FilteredTasks().Count(x => x.IsDeadlineOut()) / (double)State.FilteredTasks().Count()) * 100
        : 0;
}