@inherits KolComponentBase

<div class="milestones-summary @Class" style="font-size: 20px; @Style">
    <div style="height: 5%;" class="w-full">
        Вехи
    </div>
    <div style="height: 95%;" class="w-full overflow-auto scrollbar-none">
        <Smooth ShowOnFirstRender >
            <div class="flex flex-col gap-2">
                @foreach (var milestone in State.Milestones.OrderBy(x => x.Deadline))
                {
                    <MilestoneBar Milestone="milestone" />
                }
            </div>
        </Smooth>
    </div>
</div>
