<div class="feedback-col">
    <KolBoardColumn TValue="Feedback" 
        ItemSpacing="10" Width="Width"
        EstimateHeight="113" Virtualized
        Overscan="4" CanItemDrag="x => x.CanChangeStatus"
        OnDropItem="DropFeedback" Items="Items" KeySelector="f => f.Id">
        <HeaderTemplate>
            <div class="flex mb-2">
                <FluentBadge BackgroundColor="black" Class="mr-2">@Items.Count</FluentBadge>
                @HeaderTemplate
            </div>
        </HeaderTemplate>
        
        <ItemTemplate Context="feedback">
            <FeedbackCard Feedback="feedback" />
        </ItemTemplate>
    </KolBoardColumn>
</div>
