<div class="feedback-col">
    <KolBoardColumn TValue="Feedback" 
        ItemSpacing="10" Width="Width"
        OnDropItem="DropFeedback" Items="Items" KeySelector="f => f.Id">
        <HeaderTemplate>
            <div class="d-flex mb-2">
                <div class="col col-sm-1">
                    <FluentBadge BackgroundColor="black">@Items.Count()</FluentBadge>
                </div>
                <div class="col w-100">                    
                    @HeaderTemplate
                </div>
            </div>
        </HeaderTemplate>
    </KolBoardColumn>
</div>
