@attribute [Authorize]

@if (Initialized)
{
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
}
else
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
            <Spinner />
            <span class="ms-2">Загрузка...</span>
        </div>
    </div>
}