<KolBoard TValue="Feedback" Class="m-1">
    <Columns>
        <FeedbackColumn Width="420" Status="FeedbackStatus.Todo">
            <HeaderTemplate>
                <div class="d-flex">
                    <div style="font-size: 13px;">
                        Предложения и найденные ошибки 
                        <FluentEmoji Value="@(new Emojis.SmileysEmotion.Flat.Default.ShushingFace())" Width="22px" />
                    </div>
                    <FluentSpacer />
                    <FluentButton OnClick="OpenCreateModalAsync"
                        Appearance="Appearance.Accent" 
                        Style="font-size: 13px; height: 20px;" >
                        Добавить
                    </FluentButton>
                </div>
            </HeaderTemplate>
        </FeedbackColumn>

        <FeedbackColumn Width="420" Status="FeedbackStatus.InProgress">
            <HeaderTemplate>
                <div style="margin-top: 1px;">
                    В работе 
                    <FluentEmoji Value="@(new Emojis.SmileysEmotion.Flat.Default.ThinkingFace())" Width="22px" />
                </div>
            </HeaderTemplate>
        </FeedbackColumn>

        <FeedbackColumn Width="420" Status="FeedbackStatus.Finished">
            <HeaderTemplate >
                <div style="margin-top: 1px;">
                    Готово 
                    <FluentEmoji Value="@(new Emojis.SmileysEmotion.Flat.Default.LyingFace())" Width="22px" />
                </div>
            </HeaderTemplate>
        </FeedbackColumn>
    </Columns>
</KolBoard>
