<div class="feedback-col">
    <KolBoardColumn TValue="Feedback" OnDropItem="DropFeedback" Items="Items">
        <HeaderTemplate>
            <div class="d-flex mb-2">
                <div class="col col-sm-1">
                    <Badge Color="BadgeColor.Dark">@Items.Count()</Badge>
                </div>
                <div class="col w-100">                    
                    @HeaderTemplate
                </div>
            </div>
        </HeaderTemplate>
    </KolBoardColumn>
</div>

@code {
    private ICollection<Feedback> Items => State.Model!.Feedbacks
        .Where(x => x.Status == Status)
        .OrderByDescending(x => x.LikedUsers.Count)
        .ToList();

    [Parameter] public RenderFragment? HeaderTemplate { get; set; }
    [Parameter, EditorRequired] public FeedbackStatus Status { get; set; }

    [CascadingParameter] FeedbacksState State { get; set; } = null!;

    private async Task DropFeedback(Feedback dropped)
    {
        if (dropped.Status == Status) return;
        await State.UpdateFeedbackStatusAsync(dropped.Id, Status);
    }
}
