.feedback-card {
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    min-height: 100px;
    background-color: var(--main-card-bg);
}

.feedback-card .title {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
