@using Onlyoffice.Api.Models

@if (Responsibles is { })
{
    <Card>
        <CardBody style="max-height: 250px; overflow-y: scroll;">
            @foreach (var responsible in Responsibles)
            {
                <div @key="responsible.Value.Id" class="d-flex flex-row py-2 align-items-center">
                    <InputCheckbox @bind-Value="responsible.Checked" />
                    <div class="ms-1">
                        <UserAvatar User="responsible.Value"/>
                    </div>
                    <span class="ms-2">
                        @responsible.Value.DisplayName
                    </span>
                </div>
            }
        </CardBody>
    </Card>

    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
            <Button Color="ButtonColor.Success" @onclick="Confirm" >ОК</Button>
        </div>
        <div class="col d-flex justify-content-center">
            <Button Color="ButtonColor.Secondary" @onclick="Cancel">Отмена</Button>
        </div>
    </div>
}
else
{
    <span>Загрузка</span>
}

@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;
    List<SelectionUser>? Responsibles;

    [Parameter] public List<string>? SelectedIds { get; set; }

    protected override void OnInitialized()
    {
        @* Responsibles = Project.Team
            .Select(x => new SelectionUser(SelectedIds?.Contains(x.Id!) ?? false, x))
            .ToList(); *@
    }

    private async System.Threading.Tasks.Task Confirm()
    {
        var selected = Responsibles!
            .Where(x => x.Checked)
            .Select(x => x.Value);
        
        await Modal.CloseAsync(ModalResult.Ok(selected));
    }

    private async System.Threading.Tasks.Task Cancel() => await Modal.CancelAsync();

    private class SelectionUser(bool isChecked, UserInfo value)
    {
        public bool Checked { get; set; } = isChecked;
        public UserInfo Value = value;
    }
}
