@inject TeamMemberSelectionDialog SelectionDialog

@if (Responsible is { })
{
    @if (EditMode)
    {
        <a class="clickable" @onclick="ShowResponsibleSelectionModal">
            <UserAvatar User="Responsible" ShowTooltip="true" />
        </a>
    }
    else
    {
        <UserAvatar User="Responsible" ShowTooltip="true" />
    }
}
else
{
    @if (EditMode)
    {
        <a class="text-secondary fw-light clickable" @onclick="ShowResponsibleSelectionModal" style="font-size: 9px;">
            <i>Без ответственного</i>
        </a>
    }
    else
    {
        <i class="text-secondary fw-light" style="font-size: 9px;">Без ответственного</i>
    }
}

@code {

    [CascadingParameter(Name = "MiddleModal")] ModalOptions ModalOptions { get; set; } = null!;

    [Parameter]
    public UserInfo? Responsible { get; set; }

    [Parameter]
    public EventCallback<UserInfo> ResponsibleChanged { get; set; }

    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public IEnumerable<UserInfo> Responsibles { get; set; } = null!;

    private async Task ShowResponsibleSelectionModal()
    {
        var selected = await SelectionDialog.ShowAsync(Responsibles, ModalOptions);

        if (selected is { })
        {
            await ResponsibleChanged.InvokeAsync(selected);
        }
    }
}