@using Onlyoffice.Api.Models

@inherits CreationModalBase

<div class="row">
    <div class="row py-3">
        <div class="col-3 align-self-center">
            <span class="font-monospace">Название</span>            
        </div>
        <div class="col d-flex justify-content-end">
            <InputText id="subtask-name-input" class="form-control" style="font-size: larger;" @bind-Value="subtask.Title" />
        </div>
    </div>
    <div class="row py-3 align-items-center">
        <div class="col">
            <span class="font-monospace">Ответственный</span>           
        </div>
        <div class="col d-flex justify-content-end">
            <ResponsibleSelection @bind-SelectedId="subtask.Responsible" EditMode="true" Team="Team" />
        </div>
    </div>
</div>
<div class="mt-2 d-flex justify-content-end">
    <FluentButton Type="ButtonType.Submit" OnClick="SumbitCreate" Disabled="string.IsNullOrWhiteSpace(subtask.Title)"
        Color="ButtonColor.Success" >Создать</FluentButton>
    <FluentButton Class="ms-2" OnClick="Cancel" >Отмена</FluentButton>
</div>

@code {
    private SubtaskUpdateData subtask = new();

    [Parameter] public IEnumerable<UserInfo> Team { get; set; } = null!;

    protected override async Task SumbitCreate() => await BlazoredModal.CloseAsync(ModalResult.Ok(subtask));
}
