@attribute [Authorize]

@inherits ProjectStateBase

@if (Initialized)
{
    <CascadingValue Value="this" IsFixed="true" >
        <CascadingValue Value="CommonHeightByKey" IsFixed="true" >
            @ChildContent
        </CascadingValue>
    </CascadingValue>
}
else
{
    <div style="height: 90%;" class="flex justify-center items-center">
        <Loading />
    </div>
}
