.proj-state {
    display: flex;
    flex-direction: column;
    padding: 7px;
    background-color: color-mix(in srgb, var(--neutral-layer-1), transparent 60%);
    border-radius: 10px;
}

.tip-hide {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.proj-state:hover .tip-hide {
    opacity: 1;
}