@using Cardmngr.Components.ProjectAggregate.Components

<Offcanvas ShowCloseBtn="false"
    Class="my-offcanvas my-offcanvas-left" Width="310">
    <OffcanvasHeader>
        <a class="fw-bold fs-4 user-select-none d-flex" href="/">
            <FluentIcon Width="32px" Value="@(new MyIcons.CardLogo())" />
            <span class="align-self-center ms-1">Р7 Карточки</span>
        </a>
    </OffcanvasHeader>
    <OffcanvasBody Class="d-flex flex-column gap-2">
        <FluentNavMenu class="p-0">
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" 
                Href="/" class="fw-bold">
                Главная
            </FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Library())"
                Href="/all-projects" class="fw-bold">
                Проекты
            </FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.DataBarVerticalAscending())"
                Href="/reports" class="fw-bold">
                Отчеты
            </FluentNavLink>
        </FluentNavMenu>
        <FollowProjects />
    </OffcanvasBody>
</Offcanvas>

@code {
    [Parameter] public object? Nothing { get; set; } // TODO: ??? close animation only with parameter ???
}
