@using Cardmngr.Components.ProjectAggregate.Components

<Offcanvas ShowCloseBtn="false"
    Class="my-offcanvas my-offcanvas-left" Width="310">
    <OffcanvasHeader>
        <a class="font-bold text-xl select-none flex" href="home">
            <FluentIcon Width="32px" Value="@(new MyIcons.CardLogo())" />
            <span class="self-center ms-1">Р7 Карточки</span>
        </a>
    </OffcanvasHeader>
    <OffcanvasBody Class="flex flex-col gap-2">
        <FluentNavMenu class="p-0">
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" 
                Href="home" class="font-bold">
                Главная
            </FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Library())"
                Href="all-projects" class="font-bold">
                Проекты
            </FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.DocumentTextExtract())"
                Href="reports" class="font-bold">
                Отчеты
            </FluentNavLink>
        </FluentNavMenu>
        <FollowProjects />
    </OffcanvasBody>
</Offcanvas>

@code {
    [Parameter] public object? Nothing { get; set; } // TODO: ??? close animation only with parameter ???
}
