@inject IMessageService MessageService

<Offcanvas Width="324"
    Class="my-offcanvas my-offcanvas-right" Placement="MyOffcanvasPlacement.End" >
    <OffcanvasHeader>
        <span class="font-bold text-xl select-none">
            Уведомления
        </span>
    </OffcanvasHeader>
    <OffcanvasBody Class="flex flex-col overflow-auto">
        <FluentMessageBarProvider MaxMessageCount="int.MaxValue" 
            Type="MessageType.Notification" 
            Section="@App.MessagesNotificationCenter" />
    </OffcanvasBody>
</Offcanvas>

@code {
    [Parameter] public object? Nothing { get; set; }
}
