
<ModuleCard Items="_options" ItemRenderer="optionRenderer" >
    <Header>
        <div class="font-bold" >
            Другое
        </div>
    </Header>
</ModuleCard>

@code {

    private List<SidebarOption> _options = 
    [
        new SidebarOption("Проекты", "Фильтрация и управление проектами в одном месте", new Icons.Regular.Size20.Library(), "all-projects"),
        new SidebarOption("Отчеты", "Создавайте excel-отчеты на основе ваших проектов", new Icons.Regular.Size20.DocumentTextExtract(), "reports")
    ];

    private RenderFragment<SidebarOption> optionRenderer = opt =>
        @<div class="flex flex-col gap-2">
            <FluentAnchor Appearance="Appearance.Hypertext" Href="@opt.Href">
                <span class="flex gap-2 items-center text-sm">
                    <FluentIcon Value="opt.Icon" />
                    @opt.Title
                </span>
            </FluentAnchor>
            <span class="text-sm" style="color: var(--neutral-fill-inverse-hover);">@opt.Desc</span>
        </div>;

    record SidebarOption(string Title, string? Desc, Icon Icon, string Href);
}
