<div Class="responsible-view" >
    <div class="d-flex flex-column">
        @{
            var count = 0;
            foreach (var user in Responsibles)
            {
                if (count >= MaxCount) break;

                <UserAvatar User="user" ShowTooltip="@ShowTooltip" Size="ImageSize"
                    ShowName="ShowName" />

                count++;
            }
        }
    </div>
    @if (Responsibles.Count > MaxCount)
    {
        <span class="d-flex justify-content-end" style="margin-right: 2px;">+@(Responsibles.Count - MaxCount)</span>
    }
</div>

@code {
    [Parameter]
    public ICollection<UserInfo> Responsibles { get; set; } = null!;

    [Parameter]
    public int ImageSize { get; set; } = 32;

    [Parameter]
    public bool ShowTooltip { get; set; }
    
    [Parameter] 
    public bool ShowName { get; set; }

    [Parameter]
    public int MaxCount { get; set; } = 2;

}
