.selected {
    border: 1px solid rgb(32, 23, 2);
    border-radius: 6px;
}

.timeline-milestone {
    cursor: pointer;
}

.tool-bar {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.tool-bar:hover {
    opacity: 1;
}