
@if (Users.Any())
{
    @foreach (var user in Users)
    {
        <div @key="user.Id" class="d-flex align-items-center mt-2">
            <UserAvatar User="user" ShowTooltip="false" />
            <span class="ms-2" style="font-size: 15px;">@user.DisplayName</span>
        </div>
    }
}
else
{
    <span class="text-secondary">Список пуст</span>
}

@code {
    [Parameter] public IEnumerable<IUser> Users { get; set; } = null!;
}
