@inject IConfiguration Config

@if (proxyUrl is { })
{
    <div class="d-flex flex-row align-items-center py-1">
        <div class="avatar-circle responsible-view" style="@($"width: {Size}px; height: {Size}px;")">
            @if (ShowTooltip)
            {
                <Tooltip Title="@User.DisplayName" Placement="TooltipPlacement.Bottom" >
                    <img src=@($"{proxyUrl}/api/people{User.AvatarSmall}") />
                </Tooltip>
            }
            else
            {
                <img src=@($"{proxyUrl}/api/people{User.AvatarSmall}") />
            }
        </div>
        @if (ShowName)
        {
            <div class="ms-1 fw-light">@User.DisplayName</div>
        }
    </div>
}

@code {
    private string? proxyUrl;

    [Parameter] public IUser User { get; set; } = null!;
    [Parameter] public bool ShowTooltip { get; set; }
    [Parameter] public bool ShowName { get; set; }
    [Parameter] public int Size { get; set; } = 32;

    protected override void OnInitialized()
    {
        proxyUrl = Config["proxy-url"] ?? throw new NullReferenceException("No proxy url config");
    }
}