:root {
    --col-bg-2: #3d84ca;
    --padding-main: 0;
    --main-board-bg: #ffffff;
    --main-board-bg-dark: #303436;
    --main-board-bg-light: #667a8d;
    --col-title-color: #000000;
    --boarder-color: #a1bcc2;
    --main-col-bg: #e5f8e0;
    --main-card-bg: #e5fffc;
    --main-responsibles-bg: #dff8f5;
    --highlight-col: #441f1f;
    --drop-highlight-col: #b13b6c;
}