:root {
    --col-bg-2: #3d84ca;
    --padding-main: 0;
    --main-board-bg: #ffffff;
    --main-board-bg-dark: #303436;
    --main-board-bg-light: #667a8d;
    --col-title-color: #2a2f35;
    --boarder-color: #75868a;
    --main-col-bg: #f6f8fa;
    --highlight-col: #441f1f;
    --drop-highlight-col: #ecd052;
}