:root {
    --col-bg-2: #3d84ca;
    --padding-main: 0;
    --main-board-bg: #ffffff;
    --main-board-bg-dark: #303436;
    --main-board-bg-light: #667a8d;
    --col-title-color: #000000;
    --boarder-color: #a1bcc2;
    --main-col-bg: #e5f8e0;
    --main-card-bg: #e5fffc;
    --main-responsibles-bg: #dff8f5;
    --highlight-col: #441f1f;
    --drop-highlight-col: #b13b6c;
}

* {
    box-sizing: border-box;
}

ul {
    margin-bottom: 4px;
}

.clickable {
    cursor: pointer;
}

.highlight:hover {
    /* add your desired CSS styles here */
    background-color: var(--highlight-col); /* Example: change background color */
    border-radius: 2px; /* Rounds the corners of the element */
    cursor: pointer;
}

.highlight:active:hover {
    /* Reset the styles to their default values when the mouse is pressed */
    background-color: initial;
    border-radius: initial;
}

.grabbing:hover {
    background-color: var(--highlight-col); /* Example: change background color */
    border-radius: 2px; /* Rounds the corners of the element */
    cursor: grab;
}

.grabbing:active {
    cursor: grabbing;
}

#blazor-error-ui{
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;}
    
   #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;}

.bg-shadow {
    background-color: var(--main-col-bg);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.hide-max-140 {
    max-width: 140px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer {
    font-size: large;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.top-line {
    border-top: 1px solid #c5c5c5;
}

.gradient-bg {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(139,255,241,1) 100%);
    background: -webkit-linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(139,255,241,1) 100%);
    background: linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(139,255,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8bfff1",GradientType=1);
}

.gradient-bg-vertical {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(78,255,234,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(78,255,234,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(78,255,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#4effea",GradientType=1);
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--boarder-color);
    border-radius: 20px;
}

.super-small {
    font-size: 10px;
}