:root {
    --col-bg-2: #3d84ca;
    --padding-main: 0;
    --main-board-bg: #ffffff;
    --main-board-bg-dark: #303436;
    --main-board-bg-light: #667a8d;
    --col-title-color: #2a2f35;
    --boarder-color: #75868a;
    --main-col-bg: #f6f8fa;
    --highlight-col: #441f1f;
    --drop-highlight-col: #ecd052;
}

* {
    box-sizing: border-box;
}

ul {
    margin-bottom: 4px;
}

.clickable {
    cursor: pointer;
}

.highlight:hover {
    /* add your desired CSS styles here */
    background-color: var(--highlight-col); /* Example: change background color */
    border-radius: 2px; /* Rounds the corners of the element */
    cursor: pointer;
}

.highlight:active:hover {
    /* Reset the styles to their default values when the mouse is pressed */
    background-color: initial;
    border-radius: initial;
}

.grabbing:hover {
    background-color: var(--highlight-col); /* Example: change background color */
    border-radius: 2px; /* Rounds the corners of the element */
    cursor: grab;
}

.grabbing:active {
    cursor: grabbing;
}

#blazor-error-ui{
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;}
    
   #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;}

.bg-shadow {
    background-color: var(--main-col-bg);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}