@inherits KolComponentBase

<div class="d-flex flex-row w-100 align-items-center @Class">
    <div class="col-md-11">
        @if (isEditMode)
        {
            <InputText style="font-size: 20px; font-weight: 500;" 
                @bind-Value:get="Title" class="p-0 w-100 form-control" @bind-Value:set="SetTitle" id="Title" />
        }
        else
        {
            <span style="font-size: 20px; font-weight: 500;" class="py-1">@Title</span>
        }
    </div>
    <div class="col-md-1 d-flex justify-content-end">
        <Tool IconName="@(isEditMode ? IconName.PencilFill : IconName.Pencil)" 
            Disabled="Disabled"
            TooltipTitle="@(isEditMode ? "Прекратить" : "Изменить")" 
            OnClick="() => isEditMode = !isEditMode"/>
    </div>
</div>

@code {
    private bool isEditMode;
    [Parameter] public string? Title { get; set; }
    [Parameter] public EventCallback<string?> TitleChanged { get; set; }
    [Parameter] public bool Disabled { get; set; }

    private async Task SetTitle(string? value)
    {
        await TitleChanged.InvokeAsync(value);
    }
}
