@inherits ConfirmModalBase

<h6 style="text-align: center; margin-bottom: 2rem;">
    Вы пытаетесь закрыть задачу с открытым подзадачами.
    <br>
    Лучше всего вернуться и закрыть подзадачи вручную,
    <br>
    затем снова закрыть задачу
</h6>

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override void OnInitialized()
    {
        OkTitle = "Закрыть все подзадачи и задачу";
    }
}