@if (AdditionalText is { })
{
    <div>@AdditionalText</div>
}
<div class="flex w-full @(AdditionalText is { } ? "mt-4" : "")">
    <FluentSpacer />
    <div class="flex">
        <FluentButton OnClick="async () => await Modal.CloseAsync(ModalResult.Ok())">
            @OkTitle
        </FluentButton>
    </div>
    <FluentSpacer />
    <div class="flex">
        <FluentButton Appearance="Appearance.Accent" OnClick="async () => await Modal.CloseAsync(ModalResult.Cancel())" >
            @CancelTitle
        </FluentButton>
    </div>
    <FluentSpacer />
</div>