@inherits KolComponentBase

@if (UserProfile is { })
{
    <div class="@Class" style="@Style">
        
    </div>
}

@code {
    [Parameter] public UserProfile UserProfile { get; set; } = null!;
}
