@inject IConfiguration Config
@inject NavigationManager NavigationManager

@inherits KolComponentBase

<div class="d-flex align-items-center @Class" style="@Style">
    <Tool IconName="IconName.BoxArrowUpRight" TooltipTitle="Перейти в Р7-Офис" IconColor="IconColor.Dark" 
        OnClick=@NavigateToR7Office 
        />
</div>

@code {
    void NavigateToR7Office()
    {
        if (NavigationManager.Uri.Contains("/project/"))
        {
            NavigationManager.NavigateTo(Config.CheckKey("onlyoffice-url") + $"/Products/Projects/Projects.aspx?prjID={CurrentProjectId}");
        }
        else
        {
            NavigationManager.NavigateTo(Config.CheckKey("onlyoffice-url"));
        }
    }

    int CurrentProjectId => int.Parse(NavigationManager.Uri.Substring(NavigationManager.Uri.LastIndexOf('/') + 1));
}